<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 mb-4">
      <div class="card">
          <div class="card-header">                                    
              <span *ngIf="editparam.action == 'add'">Add New Dealer</span>
              <span *ngIf="editparam.action == 'edit'">Edit Dealer</span>
          </div>
          <div class="card-body">  
            <!-- Nav tabs -->
            <tabset>
              <tab heading="Profile">
                <div><form class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="" #dealerProfileForm="ngForm">
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label>Name<span class="text-danger">*</span></label> 
                      <input class="form-control" name="name" placeholder="Name" type="text"  [(ngModel)]="userdata.name" required>
                    </div>
                    <div class="col-md-6">
                      <label>Phone<span class="text-danger">*</span></label> 
                      <input class="form-control" name="phone" placeholder="(999) 999-9999" type="text"  [(ngModel)]="userdata.phone" required [textMask]="{mask: mask}">
                    </div>
                  </div> 
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label>Email<span class="text-danger">*</span></label> 
                      <input class="form-control" name="email" placeholder="abc@xyz.com" type="text"  [(ngModel)]="userdata.email" required  [textMask]="{mask: emailmask }" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    </div>
                    <div class="col-md-6">
                      <label>Website URL<span class="text-danger">*</span></label> 
                      <input class="form-control" name="website" placeholder="abc.com" type="text"  [(ngModel)]="userdata.website" required>
                    </div>
                  </div> 
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label>Dealer #<span class="text-danger">*</span></label> 
                      <input class="form-control" name="dealerno" placeholder="Dealer #" type="text"  [(ngModel)]="userdata.dealerno" required>
                    </div>
                    <div class="col-md-6">
                      <label># of Salesrep<span class="text-danger">*</span></label> 
                      <input class="form-control" name="salesrepno" placeholder="# of Salesrep" type="text"  [(ngModel)]="userdata.salesrepno" required>
                    </div>
                  </div> 
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label>Dealer Size<span class="text-danger">*</span></label> 
                      <select class="form-control" name="groupsize"  [(ngModel)]="userdata.groupsize" required>
                        <option value="">Select Dealer Size</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label>Marketing #<span class="text-danger">*</span></label> 
                      <input class="form-control" name="marketingno" placeholder="Marketing #" type="text"  [(ngModel)]="userdata.marketingno" required>
                    </div>
                  </div> 
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label>Sales Local<span class="text-danger">*</span></label> 
                      <input class="form-control" name="saleslocal" placeholder="Sales Local" type="text"  [(ngModel)]="userdata.saleslocal" required>
                    </div>
                    <div class="col-md-6">
                      <label>Kit Drop Days<span class="text-danger">*</span></label> 
                      <select class="form-control" name="kitdropdays"  [(ngModel)]="userdata.kitdropdays" required>
                        <option value="">Select Days</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                  </div>  
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label>OEM's<span class="text-danger">*</span></label> 
                      <select class="form-control" name="oem"  [(ngModel)]="userdata.oem" (change) = "onChangeOEM()" required>
                        <option value="">Select OEM's</option>
                        <option *ngFor="let oem of oems" value="{{oem.id}}">{{oem.name}}</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label>Brands<span class="text-danger">*</span></label> 
                      <ng-select class="bootstrap"  name="brand"  placeholder="Select Brands"
                       [options]="oembrands" [multiple]="true" 
                       [(ngModel)]="userdata.brand"
                       (ngModelChange) = "onChangeBrand()" required></ng-select>

                      <!-- <select class="form-control" name="brand"  [(ngModel)]="userdata.brand" (change) = "onChangeBrand()" required>
                        <option value="">Select Brands</option>
                        <option *ngFor="let brand of brands" value="{{brand.id}}">{{brand.name}}</option>
                      </select> -->
                    </div>
                  </div>   
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label>Business Centers<span class="text-danger">*</span></label> 
                      <select class="form-control" name="center"  [(ngModel)]="userdata.center" (change) = "onChangeBusinessCenter()" required>
                        <option value="">Select Business Centers</option>
                        <option *ngFor="let center of centers" value="{{center.id}}">{{center.brandName}} - {{center.name}}</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label>Manufacturer Representative<span class="text-danger">*</span></label> 
                      <select class="form-control" name="mr"  [(ngModel)]="userdata.mr" required>
                        <option value="">Select Manufacturer Representative</option>
                        <option *ngFor="let mr of mrs" value="{{mr.id}}">{{mr.name}}</option>
                      </select>
                    </div>
                  </div>  
                  <div class="form-group row">
                    <div class="col-md-6">
                      <label>Auto Groups<span class="text-danger">*</span></label> 
                      <select class="form-control" name="autogrp"  [(ngModel)]="userdata.autogrp" required>
                        <option value="">Select Auto Groups</option>
                        <option *ngFor="let autogrp of autogrps" value="{{autogrp.id}}">{{autogrp.name}}</option>
                      </select>
                    </div>
                  </div>  
                  <div class="form-group row">
                    <div class="col-md-6">                     
                        <button class="btn btn-large btn-primary" type="button" *ngIf="editparam.action == 'add'" (click)="saveProfile()" [disabled] = "!dealerProfileForm.form.valid" >Save Dealer Profile</button>               
                       <button class="btn btn-large btn-primary" type="button" *ngIf="editparam.action == 'edit'" (click)="updateProfile()" [disabled] = "!dealerProfileForm.form.valid" >Update Dealer Profile</button>
                    </div>
                  </div>   
                </form></div>                  
              </tab>


              <tab heading="Contact Persons" [disabled]="editparam.action == 'add'">
                <div><form class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="" #dealerContactForm="ngForm">
                  <div *ngFor="let index of noofcontacts"> 
                    <div class="form-group row">
                      <div class="col-md-6">    
                        <label><strong>Contact Info {{index}}</strong></label>                
                      </div>
                      <div class="col-md-6">
                         <button class="btn btn-sm btn-danger pull-right" type="button" (click)="removeContact(index)"><i class="fa fa-minus"></i></button>  
                      </div>
                    </div> 
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label>Contact Person<span class="text-danger">*</span></label> 
                        <input class="form-control" name="contactperson[{{index-1}}]" placeholder="Contact Person" type="text"  [(ngModel)]="contactdata.contactperson[index-1]"  value="{{contactdata.contactperson[index-1]}}" required>
                      </div>
                      <div class="col-md-6">
                       <label>Contact Email<span class="text-danger">*</span></label> 
                        <input class="form-control" name="contactemail[{{index-1}}]" placeholder="abc@xyz.com" type="text"  [(ngModel)]="contactdata.contactemail[index-1]" value="{{contactdata.contactemail[index-1]}}" required [textMask]="{mask: emailmask }" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                      </div>
                    </div> 
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label>Contact Role<span class="text-danger">*</span></label> 
                        <input class="form-control" name="contactrole[{{index-1}}]" placeholder="Contact Role" type="text"  [(ngModel)]="contactdata.contactrole[index-1]" value="{{contactdata.contactrole[index-1]}}" required>
                      </div>
                      <div class="col-md-3">
                        <label>Primary Contact? <span class="text-danger">*</span></label><br/>
                        <input class="input-control" name="primarycontact[{{index-1}}]" type="radio"  [(ngModel)]="contactdata.primarycontact[index-1]" (change)="primaryOnlyOne(index-1)" value="yes" required [disabled] = "primary.disable[index-1]"><label>Yes</label>
                        <input class="input-control" name="primarycontact[{{index-1}}]" (change)="primaryOnlyOne(index-1)" type="radio"  [(ngModel)]="contactdata.primarycontact[index-1]" value="no" required><label>No</label>
                      </div>                  
                      <div class="col-md-3">
                        <label>Data Contact? <span class="text-danger">*</span></label><br/>
                        <input class="input-control" name="datacontact[{{index-1}}]" type="radio"  [(ngModel)]="contactdata.datacontact[index-1]" (change)="dataContactOnlyOne(index-1)" value="yes" required [disabled] = "datacontact.disable[index-1]"><label>Yes</label>
                        <input class="input-control" name="datacontact[{{index-1}}]" (change)="dataContactOnlyOne(index-1)" type="radio"  [(ngModel)]="contactdata.datacontact[index-1]" value="no" required><label>No</label>
                      </div>
                    </div> 
                    <hr/>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-6">                    
                    </div>
                    <div class="col-md-6">
                       <button class="btn btn-sm btn-primary pull-right" type="button" (click)="addMoreContact()"><i class="fa fa-plus"></i> Add More</button>  
                    </div>
                  </div> 
                  <div class="form-group row">
                    <div class="col-md-6">                     
                        <button class="btn btn-large btn-primary" type="button" *ngIf="editparam.action == 'add'"  (click)="saveContacts()" [disabled] = "!dealerContactForm.form.valid"> Save Dealer Contacts</button>               
                       <button class="btn btn-large btn-primary" type="button" *ngIf="editparam.action == 'edit'"  (click)="updateContacts()" [disabled] = "!dealerContactForm.form.valid">Update Dealer Contacts</button>
                    </div>
                  </div> 
                </form></div>
              </tab>


              <tab heading="Settings" [disabled]="editparam.action == 'add'"> 
                <div><form class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="" #dealerSettingForm="ngForm" >
                  <div class="form-group row" >
                    <div class="col-md-6">
                       <label>Username<span class="text-danger">*</span></label> 
                       <input class="form-control" name="username" placeholder="User Name" type="text"  [(ngModel)]="userdata.username" required>
                    </div>
                    <div class="col-md-6" >
                      <label>Password</label> 
                      <input class="form-control" name="password" placeholder="Password" type="password"  [(ngModel)]="userdata.password" > <!-- required = "editparam.action == 'add'"  -->
                    </div>                  
                  </div> 
                  <div class="form-group row">
                    <div class="col-md-6">                     
                        <button class="btn btn-large btn-primary" type="button" *ngIf="editparam.action == 'add'"  (click)="saveSettings()" [disabled] = "!dealerSettingForm.form.valid">Save Dealer Settings</button>               
                       <button class="btn btn-large btn-primary" type="button" *ngIf="editparam.action == 'edit'"  (click)="saveSettings()" [disabled] = "!dealerSettingForm.form.valid">Update Dealer Settings</button>
                    </div>
                  </div> 
                </form></div>
              </tab>


              <tab heading="Data Upload" [disabled]="editparam.action == 'add'">
                <div><form class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="" #dealerUploadForm="ngForm" enctype="multipart/form-data">
                  <div class="form-group row">
                    <div class="col-md-4">
                      <label>CSV File Uploads</label>
                      <!-- <input class="form-control" name="file" type="file"  accept=".pdf,.doc,.docx" (change)="fileChange($event)"> -->
                      <input type="file" ng2FileSelect [uploader]="uploader" multiple  accept=".csv,.pdf"/><br/>

                      <table class="table table-striped" style="margin-top:20px;">
                          <thead>
                          <tr>
                              <th colspan="2">Existing Attachments</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let file of files">
                              <td><strong>{{ file.name }}</strong></td>
                              <td nowrap>
                                  <button type="button" class="btn btn-danger btn-sm"
                                          (click)="removeAttachment(file)">
                                      <span class="fa fa-trash"></span> Remove
                                  </button>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                    </div>
                    <div class="col-md-8 pull-right" >                         
                        <table class="table col-6">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of uploader.queue">
                                <td><strong>{{ item?.file?.name }}</strong></td>
                                <td nowrap>
                                    <span *ngIf="item.isSuccess"><i class="fa fa-check-circle"></i></span>
                                    <span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
                                    <span *ngIf="item.isError"><i class="fa fa-trash"></i></span>

                                    <button type="button" class="btn btn-success btn-sm"
                                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="fa fa-upload"></span> Upload
                                    </button>
                                    <!-- <button type="button" class="btn btn-warning btn-xs"
                                            (click)="item.cancel()" [disabled]="!item.isUploading">
                                        <span class="fa fa-ban"></span> Cancel
                                    </button> -->
                                    <button type="button" class="btn btn-danger btn-sm"
                                            (click)="item.remove()">
                                        <span class="fa fa-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
             
                        <div>                            
                            <button type="button" class="btn btn-success "
                                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                <span class="fa fa-upload"></span> Upload all
                            </button>
                            <!-- <button type="button" class="btn btn-warning btn-s"
                                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                <span class="fa fa-ban"></span> Cancel all
                            </button> -->
                            <button type="button" class="btn btn-danger "
                                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                <span class="fa fa-trash"></span> Remove all
                            </button>
                        </div>
             
                    </div>                        
                        
 
                  </div> 
                  <!-- <div class="form-group row">
                    <div class="col-md-6">                     
                        <button class="btn btn-large btn-primary" type="button" *ngIf="editparam.action == 'add'"  (click)="saveUploads()" [disabled] = "!dealerUploadForm.form.valid">Save Dealer Uploads</button>               
                       <button class="btn btn-large btn-primary" type="button" *ngIf="editparam.action == 'edit'"  (click)="updateUploads()" [disabled] = "!dealerUploadForm.form.valid">Update Dealer Uploads</button>
                    </div>
                  </div>  -->
                </form></div>
              </tab>


              <tab heading="Events" [disabled]="editparam.action == 'add'">
                <div><form class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="" #dealerEventsForm="ngForm">
                  <div *ngFor="let index of noofevents"> 
                    <div class="form-group row">
                      <div class="col-md-6">    
                        <label><strong>Event {{index}}</strong></label>                
                      </div>
                      <div class="col-md-6">
                         <button class="btn btn-sm btn-danger pull-right" type="button" (click)="removeEvent(index)"><i class="fa fa-minus"></i></button>  
                      </div>
                    </div> 
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label>Event Name<span class="text-danger">*</span></label> 
                        <input class="form-control" name="eventname[{{index-1}}]" placeholder="Event Name" type="text"  [(ngModel)]="eventdata.eventname[index-1]"  value="{{eventdata.eventname[index-1]}}" required>
                      </div>
                      <div class="col-md-6">
                       <label>Description<span class="text-danger">*</span></label> 
                        <input class="form-control" name="description[{{index-1}}]" placeholder="Event Description" type="text"  [(ngModel)]="eventdata.description[index-1]" value="{{eventdata.description[index-1]}}" required >
                      </div>
                    </div> 
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label>Trainer<span class="text-danger">*</span></label> 
                        <select class="form-control" name="trainer[{{index-1}}]"  [(ngModel)]="eventdata.trainer[index-1]" required>
                        <option value="">Select Trainer</option>
                        <option *ngFor="let trainer of trainers" value="{{trainer.id}}">{{trainer.name}}</option>
                      </select>
                      <!--   <input class="form-control" name="trainer[{{index-1}}]" placeholder="Trainer" type="text"  [(ngModel)]="eventdata.trainer[index-1]" value="{{eventdata.trainer[index-1]}}" required> -->
                      </div>
                      <div class="col-md-3">
                        <label>Event Start<span class="text-danger">*</span></label> 
                        <input class="form-control" name="eventstart[{{index-1}}]" placeholder="Start Time" type="text"  [(ngModel)]="eventdata.eventstart[index-1]" required  #sdp="bsDatepicker" bsDatepicker [(bsValue)]="bsStartValue[index-1]">
                      </div>              <!-- [minDate]="minDate" [maxDate]="maxDate" -->
                      <div class="col-md-3">
                        <label>Event End<span class="text-danger">*</span></label> 
                        <input class="form-control" name="eventend[{{index-1}}]" placeholder="End Time" type="text"  [(ngModel)]="eventdata.eventend[index-1]"  required  #edp="bsDatepicker" bsDatepicker [(bsValue)]="bsEndValue[index-1]">
                      </div>
                    </div> 
                    <hr/>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-6">                    
                    </div>
                    <div class="col-md-6">
                       <button class="btn btn-sm btn-primary pull-right" type="button" (click)="addMoreEvent()"><i class="fa fa-plus"></i> Add More</button>  
                    </div>
                  </div> 
                  <div class="form-group row">
                    <div class="col-md-6">                     
                        <button class="btn btn-large btn-primary" type="button" *ngIf="editparam.action == 'add'"  (click)="saveEvents()" [disabled] = "!dealerEventsForm.form.valid"> Save Dealer Events</button>               
                       <button class="btn btn-large btn-primary" type="button" *ngIf="editparam.action == 'edit'"  (click)="updateEvents()" [disabled] = "!dealerEventsForm.form.valid">Update Dealer Events</button>
                    </div>
                  </div> 
                </form></div>
              </tab>

              <tab heading="Address" [disabled]="editparam.action == 'add'">
                <div><form class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="" #dealerAddressForm="ngForm">
                          
                    <div class="form-group row">
                      <div class="col-md-6">    
                        <label><strong>Billing Address</strong></label>                
                      </div>
                    </div>
                    <div>
                      <div class="form-group row" >
                        <div class="col-md-6">
                         <label>Address<span class="text-danger">*</span></label>
                          <input class="form-control" name="billaddress" placeholder="Billing Address" type="text"  [(ngModel)]="addressdata.billaddress" required="notsamebilladdr==1">
                        </div>
                        <div class="col-md-6">
                         <label>Country<span class="text-danger">*</span></label>
                          <select class="form-control" name="billcountry"  [(ngModel)]="addressdata.billcountry" (change) = "onChangeBillCountry()" required="notsamebilladdr==1">
                            <option value="" >Select Country</option>
                              <option *ngFor="let billcountry of billcountries" value="{{billcountry.id}}">{{billcountry.name}}</option>
                          </select>
                        </div>
                      </div> 
                      <div class="form-group row">
                          <div class="col-md-6">
                            <label>State/Province<span class="text-danger">*</span></label>
                            <select class="form-control" name="billprovince"  [(ngModel)]="addressdata.billprovince" required="notsamebilladdr==1">
                              <option value="" >Select State/Province</option>
                              <option *ngFor="let billprovince of billprovinces" value="{{billprovince.id}}">{{billprovince.name}}</option>
                            </select>
                          </div>
                          <div class="col-md-6">
                            <label>City<span class="text-danger">*</span></label>
                            <input class="form-control" name="billcity" placeholder="City" type="text"  [(ngModel)]="addressdata.billcity" required="notsamebilladdr==1">
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-md-6">
                            <label>Zip/Postal Code<span class="text-danger">*</span></label>
                            <input class="form-control" name="billpostalcode" placeholder="Zip/Postal Code" type="text"  [(ngModel)]="addressdata.billpostalcode" required="notsamebilladdr==1">
                          </div>
                      </div>     
                    </div>   
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label>Is Shipping Address same as Billing Address?<span class="text-danger">*</span></label>
                        <input class="input-control" name="samebilladdr" type="radio"  [(ngModel)]="addressdata.samebilladdr" value="yes" (change)="onChangeBillAddr()" required><label>Yes</label>
                        <input class="input-control" name="samebilladdr" type="radio"  [(ngModel)]="addressdata.samebilladdr" value="no" (change)="onChangeBillAddr()" required><label>No</label>
                      </div>
                    </div> 
                    <!-- show if shipping address not same as billing address -->
                  <div *ngIf="notsamebilladdr">
                    <div class="form-group row">
                      <div class="col-md-6">    
                        <label><strong>Shipping Address</strong></label>                
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label>Address<span class="text-danger">*</span></label> 
                        <input class="form-control" name="address" placeholder="Address" type="text"  [(ngModel)]="addressdata.address" required="notsamebilladdr==1">
                      </div>
                      <div class="col-md-6">
                        <label>Country<span class="text-danger">*</span></label> 
                        <select class="form-control" name="country"  [(ngModel)]="addressdata.country" (change) = "onChangeCountry()" required="notsamebilladdr==1">
                          <option value="" >Select Country</option>
                          <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
                        </select>
                      </div>
                    </div> 
                    <div class="form-group row">
                       <div class="col-md-6">
                          <label>State/Province<span class="text-danger">*</span></label> 
                          <select class="form-control" name="province"  [(ngModel)]="addressdata.province" required="notsamebilladdr==1">
                            <option value="" >Select State/Province</option>
                            <option *ngFor="let province of provinces" value="{{province.id}}">{{province.name}}</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <label>City<span class="text-danger">*</span></label>
                          <input class="form-control" name="city" placeholder="City" type="text"  [(ngModel)]="addressdata.city" required="notsamebilladdr==1">
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class="col-md-6">
                          <label>Zip/Postal Code<span class="text-danger">*</span></label>
                          <input class="form-control" name="postalcode" placeholder="Zip/Postal Code" type="text"  [(ngModel)]="addressdata.postalcode" required="notsamebilladdr==1">
                        </div>
                    </div>
                  </div> 
                  <div class="form-group row">
                    <div class="col-md-6">                     
                        <button class="btn btn-large btn-primary" type="button" *ngIf="editparam.action == 'add'"  (click)="saveAddress()" [disabled] = "!dealerAddressForm.form.valid">Save Dealer Address</button>               
                       <button class="btn btn-large btn-primary" type="button" *ngIf="editparam.action == 'edit'"  (click)="updateAddress()" [disabled] = "!dealerAddressForm.form.valid">Update Dealer Address</button>
                    </div>
                  </div> 
                </form></div>
              </tab>
            </tabset>
          </div>   
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>