<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i> Manage Bookings
        </div>
        <div class="card-body table-responsive">
          <div class="row mb-3">
            <div class="col-md-4">
              <h4>Total Records: {{users.length}}</h4>
            </div>
            <div class="col-md-4 offset-md-8">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
              </div>
            </div>
          </div>
          <table class="table table-striped" [mfData]="bookings | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead >
              <tr>
                <th><mfDefaultSorter by="">Artist Name</mfDefaultSorter></th>
                <th><mfDefaultSorter by="">Artist Country</mfDefaultSorter></th>
                <th><mfDefaultSorter by="">Service</mfDefaultSorter></th>                
                <th><mfDefaultSorter by="">Customer Name</mfDefaultSorter></th>
                <th><mfDefaultSorter by="">Customer Country</mfDefaultSorter></th>
                <th><mfDefaultSorter by="">Customer Phone</mfDefaultSorter></th><!-- 
                <th><mfDefaultSorter by=""># of Persons</mfDefaultSorter></th>         
                <th><mfDefaultSorter by="">Transaction Id</mfDefaultSorter></th> -->
                <th><mfDefaultSorter by="">Date of Booking</mfDefaultSorter></th><!-- 
                <th><mfDefaultSorter by="">Booking Time</mfDefaultSorter></th>
                <th><mfDefaultSorter by="">Service Price</mfDefaultSorter></th>
                <th><mfDefaultSorter by="">Total Price</mfDefaultSorter></th>
                <th><mfDefaultSorter by="">Phone</mfDefaultSorter></th> -->
                <th><mfDefaultSorter by="">Created On</mfDefaultSorter></th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody> 
              <tr *ngIf = "nobookings == 0">
                <td colspan="12">No Booking Records</td>
              </tr>
              <tr *ngFor="let booking of mf.data" >
                <td>{{booking?.artists?.name}}</td>
                <td>{{booking?.artists?.countries?.name}}</td>
                <td>{{booking?.service}}</td>
                <td>{{booking?.members?.name}}</td>
                <td>{{booking?.members?.countries?.name}}</td>
                <td>{{booking?.members?.mobile}}</td>
                <td>{{booking?.bookingDate}}</td>
                <td>{{booking?.created}}</td>
                <td>       
                  <button class="btn btn-sm btn-outline-primary " data-toggle="modal" (click)="getBookingData(booking.id); bookingModal.show(); " ><i class="fa fa-eye"></i> </button>
                  <button class="btn btn-sm btn-outline-primary "  (click) ="cancelBooking(booking)" *ngIf="booking.bookingStatus != 'cancelled'">Cancel</button>
                </td>
              </tr>
            </tbody>            
            <tfoot>
              <tr>
                <td colspan="12">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<div bsModal #bookingModal="bs-modal" class="modal fade artist-detail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Booking Details</h4>
        <button type="button" class="close" (click)="bookingModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table" >
          <tr>
            <td>Artist Name</td>
            <td>{{bookingDetails?.artists?.name}}</td>
          </tr>
          <tr>
            <td>Artist Country</td>
            <td>{{bookingDetails?.artists?.countries?.name}}</td>
          </tr>
          <tr>
            <td>Service</td>
            <td>{{bookingDetails?.service}}</td>
          </tr>
           <tr>
            <td>Type of Service</td>
            <td>{{bookingDetails?.servicetype}}</td>
          </tr>
          <tr>
            <td>Service Name</td>            
            <td><!-- {{bookingDetails?.artistServiceId[0]?.subserviceId}} --></td>
          </tr>
          <tr>
            <td>Service Price with Currency</td>            
            <td><!-- {{bookingDetails?.artistServiceId[0]?.subserviceId}} --></td>
          </tr>
          <tr>
            <td>Number of persons</td>            
            <td><!-- {{bookingDetails?.artistServiceId[0]?.persons}} --></td>
          </tr>           
          <tr>
            <td>Commission</td>            
            <td><!-- {{bookingDetails?.artists?.commissions?.price}} --></td>
          </tr>
          <tr>
            <td>Total Price</td>            
            <td><!-- {{bookingDetails?.artistServiceId[0]?.subserviceId}} --></td>
          </tr>
          <tr>
            <td>Fixed Charge</td>            
            <td><!-- {{bookingDetails?.artistServiceId[0]?.subserviceId}} --></td>
          </tr>
          <tr>
            <td>Voucher Applied</td>            
            <td><!-- {{bookingDetails?.artistServiceId[0]?.subserviceId}} --></td>
          </tr>
          <tr *ngIf="">
            <td>Voucher code</td>            
            <td><!-- {{bookingDetails?.artistServiceId[0]?.subserviceId}} --></td>
          </tr>
          <tr>
            <td>Discounted Price</td>            
            <td><!-- {{bookingDetails?.artistServiceId[0]?.subserviceId}} --></td>
          </tr>
          <tr>
            <td>Amount Paid</td>            
            <td><!-- {{bookingDetails?.artistServiceId[0]?.subserviceId}} --></td>
          </tr>
          <tr>
            <td>Amount Remaining</td>            
            <td><!-- {{bookingDetails?.artistServiceId[0]?.subserviceId}} --></td>
          </tr>
          <tr>
            <td>Customer Name</td>
            <td>{{bookingDetails?.members?.name}}</td>
          </tr>
          <tr>
            <td>Customer Country</td>
            <td>{{bookingDetails?.members?.countries?.name}}</td>
          </tr>
          <tr>
            <td>Customer Phone</td>
            <td>{{bookingDetails?.members?.mobile}}</td>
          </tr>
          <tr>
            <td>Booking Address</td>
            <td><!-- {{bookingDetails?.bookingDate}} --></td>
          </tr>
          <tr>
            <td>Date of Booking</td>
            <td>{{bookingDetails?.bookingDate}}</td>
          </tr>

        </table>     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="bookingModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>