<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i> Manage Bookings
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-4">
              <h4>Total Records: {{bookings?.length}}</h4>
            </div>
            <div class="col-md-2  offset-md-2">
               <select class="form-control" name="country"  [(ngModel)]="countryFilter" (change) = "onChangeFilter()">
                  <option value="" >All Countries</option>
                  <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
                </select> 
            </div>
            <div class="col-md-4">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by customer, service or artist name"/>
              </div>
            </div>
          </div>
          <div class="table-responsive">
          <table class="table table-striped" [mfData]="bookings | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead >
              <tr>
                <th><mfDefaultSorter by="artists.name">Artist Name</mfDefaultSorter></th>
                <th><mfDefaultSorter by="artists.countries.name">Artist Country</mfDefaultSorter></th>
                <th><mfDefaultSorter by="service">Service</mfDefaultSorter></th>                
                <th><mfDefaultSorter by="members.fullName">Customer Name</mfDefaultSorter></th>
                <th><mfDefaultSorter by="members.countries.name">Customer Country</mfDefaultSorter></th>
                <th><mfDefaultSorter by="bookingStartTime">Customer Phone</mfDefaultSorter></th>
                <th><mfDefaultSorter by="bookingDate">Booking Time</mfDefaultSorter></th>
                <th><mfDefaultSorter by="bookingDate">Date of Appointment</mfDefaultSorter></th>
                <th><mfDefaultSorter by="created">Date of Booking</mfDefaultSorter></th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody> 
              <tr *ngIf = "mf.data.length == 0">
                <td colspan="12">No Booking Records</td>
              </tr>
              <tr *ngFor="let booking of mf.data" >
                <td>{{booking?.artists?.name}}</td>
                <td>{{booking?.artists?.countries?.name}}</td>
                <td><span style="text-transform: capitalize;">{{booking?.service}}</span></td>
                <td>{{booking?.members?.fullName}}</td>
                <td>{{booking?.members?.countries?.name}}</td>
                <td>{{booking?.members?.mobile}}</td>
                <td>{{booking?.bookingStartTime}}</td>
                <td>{{booking?.bookingDate}}</td>
                <td>{{booking?.created}}</td>
                <td>       
                  <button class="btn btn-sm btn-outline-primary " data-toggle="modal" (click)="getBookingData(booking.id); bookingModal.show(); " ><i class="fa fa-eye"></i> </button>
                  <button class="btn btn-sm btn-outline-primary "  (click) ="cancelBooking(booking)" *ngIf="booking.bookingStatus != 'cancelled'">Cancel</button>
                </td>
              </tr>
            </tbody>            
            <tfoot>
              <tr>
                <td colspan="12">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>    
          </div>      
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<div bsModal #bookingModal="bs-modal" class="modal fade artist-detail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document" style="max-width:60%">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Booking Details</h4>
        <button type="button" class="close" (click)="bookingModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table" >
          <tr>
            <td>Reference/Booking ID</td>
            <td>{{bookingDetails.bookingReference}}</td>
          </tr>
          <tr>
            <td>Artist Name</td>
            <td>{{bookingDetails?.artists?.name}}</td>
          </tr>
          <tr>
            <td>Artist Country</td>
            <td>{{bookingDetails?.artists?.countries?.name}}</td>
          </tr>
          <tr>
            <td>Service</td>
            <td><span style="text-transform: capitalize;">{{bookingDetails?.service}}</span></td>
          </tr>
           <tr>
            <td>Type of Service</td>
            <td><span style="text-transform: capitalize;">{{bookingDetails?.serviceType}}</span></td>
          </tr>
          <tr>
            <td>Service Details</td>
            <td>
              <table class="table" *ngIf="userRole == 'admin'">
                <tr>
                  <th>Service Name</th>          
                  <th>Service Price with Currency</th> 
                  <th>Number of persons</th> 
                  <th>Total Price</th>  
                </tr>
                <tr *ngFor="let serviceDetails of bookingDetails.artistSubServiceDetails">                 
                  <td><span style="text-transform: capitalize;">{{serviceDetails.name}}</span></td> 
                  <td>{{bookingDetails.currency}} {{serviceDetails.price}}</td>
                  <td>{{serviceDetails.persons}}</td>
                  <td>{{bookingDetails.currency}} {{serviceDetails.price + ((serviceDetails.price * bookingDetails.commission)/100)}} </td>
                </tr>
              </table>
              <table class="table" *ngIf="userRole == 'artist'">
                <tr>
                  <th>Service Name</th>          
                  <th>Service Price</th> 
                  <th>Number of persons</th> 
                </tr>
                <tr *ngFor="let serviceDetails of bookingDetails.artistSubServiceDetails">                 
                  <td><span style="text-transform: capitalize;">{{serviceDetails.name}}</span></td> 
                  <td>{{bookingDetails.currency}} {{serviceDetails.price}}</td>
                  <td>{{serviceDetails.persons}}</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr *ngIf="userRole == 'admin'">
            <td>Commission</td>
            <td>{{bookingDetails.commission}}%</td>            
          </tr>
          <tr>
            <td>Flight Charges</td>            
            <td>{{bookingDetails?.fixedcharge}}</td>
          </tr>
          <tr *ngIf="bookingDetails?.voucherId">
            <td>Voucher code</td>            
            <td>{{bookingDetails?.voucherId}}</td>
          </tr>
          <tr>
            <td>Discounted Price</td>            
            <td *ngIf="!bookingDetails?.voucherId">0</td>
            <td *ngIf="bookingDetails?.voucherId">{{bookingDetails.currency}} {{bookingDetails?.amountPaid}}</td>
          </tr>
          <tr *ngIf="bookingDetails?.amountPaid">
            <td>Amount Paid</td>            
            <td>{{bookingDetails.currency}} {{bookingDetails?.amountPaid}}</td>
          </tr>
          <tr *ngIf="bookingDetails?.amountRemaining">
            <td>Amount Remaining</td>            
            <td>{{bookingDetails.currency}} {{bookingDetails?.amountRemaining}}</td>
          </tr>
          <tr>
            <td>Customer Name</td>
            <td>{{bookingDetails?.members?.fullName}}</td>
          </tr>
          <tr>
            <td>Customer Country</td>
            <td>{{bookingDetails?.members?.countries?.name}}</td>
          </tr>
          <tr>
            <td>Customer Phone</td>
            <td>{{bookingDetails?.members?.mobile}}</td>
          </tr>
          <tr *ngIf="userRole == 'admin'">
            <td>Booking Address</td>
            <td>{{bookingDetails?.address}}</td>
          </tr>
          <tr>
            <td>Booking Time</td>
            <td>{{bookingDetails?.bookingStartTime}}</td>
          </tr>
          <tr>
            <td>Date of Appointment</td>
            <td>{{bookingDetails?.bookingDate}}</td>
          </tr>
          <tr>
            <td>Date of Booking</td>
            <td>{{bookingDetails?.created}}</td>
          </tr>

        </table>     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="bookingModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>