<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <a class="btn btn-large btn-primary pull-right" href="#" routerLink='/nailartists/addartist' style="margin-bottom:5px"><i class="fa fa-user-plus"></i> Add New Nail Artist</a>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i> Nail Artist
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-4 offset-md-8">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
              </div>
            </div>
          </div>
          <table class="table table-striped" [mfData]="users | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead >
              <tr>
                <th><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
                <th><mfDefaultSorter by="province">City</mfDefaultSorter></th>
                <th><mfDefaultSorter by="country">Country</mfDefaultSorter></th>
                <th><mfDefaultSorter by="phone">Phone</mfDefaultSorter></th>
                <th><mfDefaultSorter by="email">Email</mfDefaultSorter></th>
                <th><mfDefaultSorter by="created_on">Registration Date</mfDefaultSorter></th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody> 
              <tr *ngIf = "nousers == 0">
                <td colspan="10">No Nail Artist Records</td>
              </tr>
              <tr *ngFor="let user of mf.data" >
                <td>{{user.name}}</td>
                <td>{{user.city}}</td>
                <td>{{user.countryname}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.email}}</td>
                <td>{{user.created_on}}</td>
                <td>
                  <a class="btn btn-sm btn-outline-primary " href="#" routerLink='/nailartists/editartist/{{user.id}}' ><i class="fa fa-edit"></i> </a>                 
                  <button class="btn btn-sm btn-outline-primary "  (click) ="delartist(user)" ><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>            
            <tfoot>
              <tr>
                <td colspan="7">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>