<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i> Manage Users
        </div>
        <div class="card-body table-responsive">
          <div class="row mb-3">            
            <div class="col-md-6">
              <h4>Total Records: {{users.length}}</h4>
            </div>
            <div class="col-md-2">
               <select class="form-control" name="country"  [(ngModel)]="countryFilter" (change) = "onChangeFilter()">
                  <option value="" >All Countries</option>
                  <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
                </select> 
            </div>
            <div class="col-md-3 ">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name or phone no."/>
              </div>
            </div>
             <div class="col-md-1">
              <input class="btn btn-primary" type="button" value="Reset" (click) = "resetFilter()">
            </div>
          </div>
          <table class="table table-striped" [mfData]="users | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead >
              <tr>
                <th><mfDefaultSorter by="fullName">Name</mfDefaultSorter></th>
                <th><mfDefaultSorter by="">DOB</mfDefaultSorter></th>
                <th><mfDefaultSorter by="countryname">Country</mfDefaultSorter></th>
                <th><mfDefaultSorter by="mobile">Phone</mfDefaultSorter></th>
                <th><mfDefaultSorter by="email">Email</mfDefaultSorter></th>
                <th><mfDefaultSorter by="created_on">Registered Date</mfDefaultSorter></th>
                <th *ngIf="check_account.action == 'reject'"><mfDefaultSorter by="action_on">Blocked Date</mfDefaultSorter></th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody> 
              <tr *ngIf = "mf.data.length == 0">
                <td colspan="12">No results found.</td>
              </tr>
              <tr *ngFor="let user of mf.data" >
                <td>{{user.fullName}}</td>
                <td>{{user.dob}}</td>
                <td>{{user?.countries?.name}}</td>
                <td>{{user.mobile}}</td>
                <td>{{user.email}}</td>
                <td>{{user.created_on}}</td>
                <td *ngIf="check_account.action == 'reject'">{{user.action_on}}</td>
                <td>
                  <button class="btn btn-sm btn-outline-primary "  (click) ="deluser(user)" *ngIf="check_account.action == 'active'"><i class="fa fa-trash"></i></button> 

                  <button class="btn btn-sm btn-outline-primary " *ngIf="check_account.action == 'active'" (click) ="changeStatus(user, 'reject','block')">Block</button>

                  <button class="btn btn-sm btn-outline-primary " *ngIf="check_account.action == 'reject'" (click) ="changeStatus(user, 'active','unblock')">Unblock</button>
                </td>
              </tr>
            </tbody>            
            <tfoot>
              <tr>
                <td colspan="7">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<!-- <div bsModal #userModal="bs-modal" class="modal fade artist-detail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Artist Details</h4>
        <button type="button" class="close" (click)="userModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table" >
          <tr>
            <td>Artist Name</td>
            <td>{{userDetails.name}}</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{userDetails.phone}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{userDetails.email}}</td>
          </tr>
          <tr>
            <td>Profession</td>
            <td>{{profession_vals[(userDetails.artist_profession)-1]}}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>
              Villa No.: {{userDetails.villa}}<br/>
              Road No.: {{userDetails.road}}<br/>
              Block No.: {{userDetails.block}}<br/>
              City: {{userDetails.city}}<br/>
              Country: {{userDetails.countryname}}
            </td>
          </tr>
        </table>     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="userModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div> -->


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>