<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <a class="btn btn-large btn-primary pull-right" href="#" routerLink='addfaq' style="margin-bottom:5px"><i class="fa fa-user-plus"></i> Add New</a>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> FAQ
        </div>
        <div class="card-body">          
          <div class="row  mb-3">
		        <div class="col-md-4">
              <h4>Total Records: {{faqs?.length}}</h4>
            </div>
            <div class="col-md-2  offset-md-6">
               <select class="form-control" name="language"  [(ngModel)]="languageFilter" (change) = "onChangeFilter()">
                  <option value="" >All Languages</option>
                  <option value="ar" >Arabic</option>
                  <option value="en" >English</option>
                </select> 
            </div>
          </div>
          <table class="table table-striped"  [mfData]="faqs | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th><mfDefaultSorter by="ques">Question</mfDefaultSorter></th>
                <th><mfDefaultSorter by="ans">Answers</mfDefaultSorter></th>
                <th><mfDefaultSorter by="language">Language</mfDefaultSorter></th>
                <th><mfDefaultSorter by="created_on">Created On</mfDefaultSorter></th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody> 
			         <tr *ngIf = "nocr == 0">
                <td colspan="7">No faq records</td>
              </tr>
              <tr *ngFor="let faq of mf.data">
                <td>{{faq.ques}}</td>
                <td>{{faq.ans}}</td>
                <td *ngIf = "faq.language == 'ar'">Arabic</td>
                <td *ngIf = "faq.language == 'en'">English</td>
                <td>{{faq.created_on}}</td>
              
                <td>
                  <a class="btn btn-small btn-outline-primary " href="#" routerLink='editfaq/{{faq.id}}'><i class="fa fa-edit"></i> </a>
                  <button class="btn btn-small btn-outline-primary " (click) ="delfaq(faq)"><i class="fa fa-trash"></i></button>
				 
                </td>
              </tr>
            </tbody>
			<tfoot>
              <tr>
                <td colspan="7">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>