<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      	<div class="card">         
            <form class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="" (ngSubmit)="onSubmit()" #oemForm="ngForm">
				<div class="card-header">
					<span *ngIf="editparam.action == 'add'"><i class="fa fa-align-justify"></i>Add New OEM</span>
                    <span *ngIf="editparam.action == 'edit'"><i class="fa fa-align-justify"></i>Edit OEM</span>
				</div>
                <div class="card-body">                    
                    <div class="form-group row col-sm-8 col-md-6">
                      	<div class="col-md-12">
							<label for="name">Name<span class="text-danger">*</span></label>
                        	<input class="form-control" name="name" placeholder="Name" type="text"  [(ngModel)]="data.name" required>
                        </div>
                        <div class="col-md-12">
						  <label for="description">Description<span class="text-danger">*</span></label>
                          <input class="form-control" name="description" placeholder="Description" type="text"  [(ngModel)]="data.description" required>
                        </div>
                    </div> 
                    
                   
                 
                    <div class="form-group row">
                        
                      	<div class="col-md-6">
                        	<input class="form-control" name="created_on" placeholder="Created On" type="hidden"  [(ngModel)]="data.created_on">
							<input class="form-control" name="brand_count" type="hidden"  [(ngModel)]="data.brand_count">
							<input class="form-control" name="centers_count" type="hidden"  [(ngModel)]="data.centers_count">
							<input class="form-control" name="mr_count" type="hidden"  [(ngModel)]="data.mr_count">
                        </div>
                    </div> 
                    <div class="form-group row">
                      <div class="col-md-6">                     
                         <button class="btn btn-large btn-primary" type="submit" *ngIf="editparam.action == 'add'" [disabled] = "!oemForm.form.valid" >Add OEM</button>               
                         <button class="btn btn-large btn-primary" type="submit" *ngIf="editparam.action == 'edit'">Update Staff</button>
                      </div>
                    </div> 
                </div>                 
              </form>
            </div>
    </div>    
  </div>
  <!--/.row-->
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>