<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12" *ngIf="check_account.action == 'active'">
      <a class="btn btn-large btn-primary pull-right" href="#" routerLink='/manageartist/addartist' style="margin-bottom:5px"><i class="fa fa-user-plus"></i> Add New Artist</a>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i> Artist
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-4">
              <h4>Total Records: {{users.length}}</h4>
            </div>
            <div class="col-md-2">
              <select class="form-control" name="profession"  [(ngModel)]="professionFilter" (change) = "onChangeFilter()">
                <option value="" >All Professions</option>
                <option value="1">Makeup</option>
                <option value="2">Hair</option>
                <option value="3">Microblading</option>
              </select> 
            </div>
            <div class="col-md-2">
               <select class="form-control" name="country"  [(ngModel)]="countryFilter" (change) = "onChangeFilter()">
                  <option value="" >All Countries</option>
                  <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
                </select> 
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name/phone no"/>
              </div>
            </div>
            <div class="col-md-1">
              <input class="btn btn-primary" type="button" value="Reset" (click) = "resetFilter()">
            </div>
          </div>
          <div  class="table-responsive">
            <table class="table table-striped" [mfData]="users | dataFilter : filterQuery" #mf="mfDataTable">
              <thead >
                <tr>
                  <th><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="cpr">National ID</mfDefaultSorter></th>
             <!--      <th><mfDefaultSorter by="role">Role</mfDefaultSorter></th> -->
                  <th><mfDefaultSorter by="professions">Profession</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="province">City</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="country">Country</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="phone">Phone</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="email">Email</mfDefaultSorter></th>
                  <th><mfDefaultSorter by="created">Request Date</mfDefaultSorter></th>
                  <th *ngIf="check_account.action == 'reject'"><mfDefaultSorter by="action_on">Rejection Date</mfDefaultSorter></th>
                  <th *ngIf="check_account.action == 'active'||check_account.action == 'verify' "><mfDefaultSorter by="modified" >Verification Date</mfDefaultSorter></th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody> 
                <tr *ngIf = "mf.data.length == 0">
                  <td colspan="12">No results found.</td>
                </tr>
                <tr *ngFor="let user of mf.data" >
                  <td>{{user.name}}</td>
                  <td>{{user.cpr}}</td>
                  <!-- <td>{{user.role}}</td> -->
                  <td>{{user.professions}}</td>
                  <td>{{user?.provinces?.name}}</td>
                  <td>{{user?.countries?.name}}</td>
                  <td>{{user.phone}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.created}}</td>
                  <td *ngIf="check_account.action == 'active'||check_account.action == 'verify'">{{user.modified}}</td>
                  <td *ngIf="check_account.action == 'reject'">{{user.modified}}</td>
                  <td>
                    <a class="btn btn-sm btn-outline-primary " href="#" routerLink='/manageartist/editartist/{{user.id}}' *ngIf="check_account.action == 'active'"><i class="fa fa-edit"></i> </a>                 
                    <button class="btn btn-sm btn-outline-primary "  (click) ="delartist(user)" *ngIf="check_account.action == 'active'"><i class="fa fa-trash"></i></button>
                    <button class="btn btn-sm btn-outline-primary " data-toggle="modal" (click)="getArtistData(user.id); artistModal.show(); " ><i class="fa fa-eye"></i> </button>    

                    <button class="btn btn-sm btn-outline-primary " *ngIf="user.status == 'active'" (click) ="changeStatus(user, 'block','block')">Block</button>

                    <button class="btn btn-sm btn-outline-primary " *ngIf="user.status == 'block'" (click) ="changeStatus(user, 'active','unblock')">Unblock</button>

                    <button class="btn btn-sm btn-outline-primary " *ngIf="check_account.action == 'inactive'" (click) ="changeStatus(user, 'verify','verify')">Verify</button>

                    <button class="btn btn-sm btn-outline-primary " *ngIf="check_account.action == 'verify'" (click) ="changeStatus(user, 'active','accept')">Accept</button>

                    <button class="btn btn-sm btn-outline-primary " *ngIf="check_account.action == 'inactive' || check_account.action == 'verify'" (click) ="changeStatus(user, 'reject','reject')">Reject</button>

                    <button class="btn btn-sm btn-outline-primary " *ngIf="check_account.action == 'reject'" (click) ="changeStatus(user, 'active','activate')">Activate</button>
                  </td>
                </tr>
              </tbody>            
              <tfoot>
               <!--  <tr>
                  <td colspan="7">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                  </td>
                </tr> -->
              </tfoot>
            </table>   
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<div bsModal #artistModal="bs-modal" class="modal fade artist-detail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Artist Details</h4>
        <button type="button" class="close" (click)="artistModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table" >
          <tr>
            <td>Name</td>
            <td>{{artistDetails.name}}</td>
          </tr>
          <tr>
            <td>National ID</td>
            <td>{{artistDetails.cpr}}</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{artistDetails.phone}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{artistDetails.email}}</td>
          </tr>
          <tr>
            <td>Profession</td>
            <td>{{artistDetails.professions}}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>
            <!--   CPR No. {{artistDetails.cpr}}<br/> -->
              Villa No.: {{artistDetails.villa}}<br/>
              Road No.: {{artistDetails.road}}<br/>
              Block No.: {{artistDetails.block}}<br/>
              City: {{artistDetails?.provinces?.name}}<br/>
              Country: {{artistDetails?.countries?.name}}
            </td>
          </tr>
        </table>     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="artistModal.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>