<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12" *ngIf="check_account.action == 'active'">
      <a class="btn btn-large btn-primary pull-right" href="#" routerLink='/manageartist/addartist' style="margin-bottom:5px"><i class="fa fa-user-plus"></i> Add New</a>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i> Artist
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-4 offset-md-8">
              <div class="input-group">
                <span class="input-group-addon"></span>
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name"/>
              </div>
            </div>
          </div>
          <table class="table table-striped" [mfData]="users | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead >
              <tr>
                <th><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
                <th><mfDefaultSorter by="role">Role</mfDefaultSorter></th>
                <th><mfDefaultSorter by="profession">Profession</mfDefaultSorter></th>
                <th><mfDefaultSorter by="province">City</mfDefaultSorter></th>
                <th><mfDefaultSorter by="country">Country</mfDefaultSorter></th>
                <th><mfDefaultSorter by="phone">Phone</mfDefaultSorter></th>
                <th><mfDefaultSorter by="email">Email</mfDefaultSorter></th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody> 
              <tr *ngIf = "nousers == 0">
                <td colspan="7">No Artist Records</td>
              </tr>
              <tr *ngFor="let user of mf.data" >
                <td>{{user.name}}</td>
                <td>{{user.role}}</td>
                <td>{{profession_vals[user.profession]}}</td>
                <td>{{user.city}}</td>
                <td>{{user.countryname}}</td>
                <td>{{user.mobile}}</td>
                <td>{{user.email}}</td>
                <td>
                  <a class="btn btn-sm btn-outline-primary " href="#" routerLink='/manageartist/editartist/{{user.id}}' *ngIf="check_account.action == 'active'"><i class="fa fa-edit"></i> </a>                 
                  <button class="btn btn-sm btn-outline-primary "  (click) ="delartist(user)" *ngIf="check_account.action == 'active'"><i class="fa fa-trash"></i></button>

                  <button class="btn btn-sm btn-outline-primary " *ngIf="check_account.action == 'active'" (click) ="changeStatus(user, 'inactive')">Block</button>

                  <button class="btn btn-sm btn-outline-primary " *ngIf="check_account.action == 'inactive'" (click) ="changeStatus(user, 'active')">Verify</button>

                  <button class="btn btn-sm btn-outline-primary " *ngIf="check_account.action == 'inactive'" (click) ="changeStatus(user, 'reject')">Reject</button>

                  <button class="btn btn-sm btn-outline-primary " *ngIf="check_account.action == 'reject'" (click) ="changeStatus(user, 'active')">Activate</button>
                </td>
              </tr>
            </tbody>            
            <tfoot>
              <tr>
                <td colspan="7">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>