<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400">
  <style>
  html, body {
    font-family: 'Roboto', sans-serif;
  }

  .hc-container {
    max-width: 600px;
  }

  .hc-td-logo {
    padding: 20px 0 0 0;
  }

  .hc-logo {
    display: block;
  }

  .hc-td-text {
    padding: 40px 0 0 0;
  }

  .hc-org-name {
    margin: 18px 0;
    font-size: 1.2em;
  }

  .hc-org-name > span {
    padding: 10px 20px;
    background-color: #f2f2f2;
    border-radius: 3px;
  }

  .hc-td-button {
    padding: 40px 0;
  }

  .hc-button {
    background-color: #1877BB;
    padding: 10px 19px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

  .hc-td-disclaimer {
    font-size: 0.7em;
    padding: 20px 0;
  }
  </style>
</head>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="hc-container" align="center">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="hc-td-logo" align="center">
            <img class="hc-logo" src="<%= logoUrl %>" title="Logo" alt="Logo" width="200" height="77">
          </td>
        </tr>
        <tr>
          <td class="hc-td-text" align="center">
            <div>
              You have been invited to register for a HeadCheck athlete account under the organization:
            </div>
            <div class="hc-org-name">
              <span><%= organization.name %></span>
            </div>
            <div>
              Please click on the button below to accept the invitation and register.
            </div>
          </td>
        </tr>
        <tr>
          <td class="hc-td-button" align="center">
            <a class="hc-button" href="<%= url %>">Accept and register</a>
          </td>
        </tr>
        <tr>
          <td class="hc-td-disclaimer" align="center">
            <strong>Disclaimer:</strong> If you are not the person
            this message was intended for, please ignore this email.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
