<div class="animated fadeIn">
  <div class="row">
  	<div class="col-lg-12">
  		<div class="card">         
          <div class="card-header">
            <span >Add New Images</span>
            <a href="#" routerLink="/media/main" class="btn btn-sm btn-primary pull-right">Cancel</a>
			    </div>
        	<div class="card-body col-md-12">  
        		<div><form autocomplete="off" class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="" #salonMainUploadForm="ngForm" enctype="multipart/form-data">
                  <div class="form-group row">
                    <div class="col-md-4">
                      <label>Image Uploads</label>
                      <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
                    </div>
                    <div class="col-md-8 pull-right" >                         
                        <table class="table col-6">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- <tr *ngFor="let file of files">
                              <td><strong>{{ file.name }}</strong></td>
                              <td nowrap>
                                  <button type="button" class="btn btn-success btn-sm"
                                          (click)="downloadAttachment(file)">
                                      <span class="fa fa-download"></span> Download
                                  </button>
                                  <button type="button" class="btn btn-danger btn-sm"
                                          (click)="removeAttachment(file)">
                                      <span class="fa fa-trash"></span> Remove
                                  </button>
                              </td>
                            </tr> -->
                            <tr *ngFor="let item of uploader.queue">
                                <td><strong>{{ item?.file?.name }}</strong></td>
                                <td nowrap>
                                    <span *ngIf="item.isSuccess"><i class="fa fa-check-circle"></i></span>
                                    <span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
                                    <span *ngIf="item.isError"><i class="fa fa-trash"></i></span>
                                    <button type="button" class="btn btn-success btn-sm"
                                          (click)="downloadNewAttachment(item?.file)" *ngIf = "item.isSuccess" >
                                      <span class="fa fa-download"></span> Download
                                    </button>                                    
                                    <button type="button" class="btn btn-danger btn-sm"
                                            (click)="removeNewAttachment(item)" *ngIf = "item.isSuccess">
                                        <span class="fa fa-trash"></span> Remove
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm"
                                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess" *ngIf = "!item.isSuccess">
                                        <span class="fa fa-upload"></span> Upload
                                    </button>
                                    <!-- <button type="button" class="btn btn-warning btn-xs"
                                            (click)="item.cancel()" [disabled]="!item.isUploading">
                                        <span class="fa fa-ban"></span> Cancel
                                    </button> -->
                                    <button type="button" class="btn btn-danger btn-sm"
                                            (click)="item.remove()" [disabled]="item.isSuccess" *ngIf = "!item.isSuccess">
                                        <span class="fa fa-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
             
                        <div>                                        
                          <div>
                              Queue progress:
                              <div class="progress" style="margin-bottom:10px;">
                                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                              </div>
                          </div>               
                            <button type="button" class="btn btn-success "
                                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                <span class="fa fa-upload"></span> Upload all
                            </button>
                            <!-- <button type="button" class="btn btn-warning btn-s"
                                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                <span class="fa fa-ban"></span> Cancel all
                            </button> -->
                            <button type="button" class="btn btn-danger "
                                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length || !uploader.getNotUploadedItems().length">
                                <span class="fa fa-trash"></span> Remove all
                            </button>
                        </div>
             
                    </div>                       
                        
 
                  </div> 
                </form></div>
		    </div>
		</div>
    </div>    
  </div>
  <!--/.row-->
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>