<div class="animated fadeIn">
  <div class="row"><div class="col-lg-12">
      <a class="btn btn-large btn-primary pull-right" href="#" routerLink='add' style="margin-bottom:5px"><i class="fa fa-plus"></i>  Add New Images</a>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Salon Main Images
        </div>
        <div class="card-body">
          <div class= "row">
            <div class="col-sm-3 galleryimages" *ngFor="let images of mainImages">
              <img src="https://dummyimage.com/300.png/09f/fff" style="width:auto; height:auto; max-height:100%; max-width:100%;"/>  <!--  {{apiUrl}}/server/storage{{images.filePath}}/{{images.fileName}} -->
              <div class="galleryimages-btn">
                <button class="btn btn-sm btn-outline-primary" (click)="downloadAttachment(images)"><span class="fa fa-download"></span></button>
                <button class="btn btn-sm btn-outline-danger" (click)="removeAttachment(images)"><span class="fa fa-close"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>