<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      	<div class="card">         
            <form class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="" (ngSubmit)="onSubmit()" #mrForm="ngForm">
				<div class="card-header">
					<span *ngIf="editparam.action == 'add'"><i class="fa fa-align-justify"></i> Add New MR</span>
                    <span *ngIf="editparam.action == 'edit'"><i class="fa fa-align-justify"></i> Edit MR</span>
				</div>
                <div class="card-body">                    
                   
                    <div class="form-group row col-sm-8 col-md-6">
                      	
					  <div class="col-md-12">
						<label for="name">OEM's<span class="text-danger">*</span></label>
						<select class="form-control" name="oemId"  [(ngModel)]="data.oemId" (change) = "onChangeOEM()">
						  <option value="">Select OEM's</option>
						  <option *ngFor="let oem of oems" value="{{oem.id}}">{{oem.name}}</option>
						</select>
					  </div>
					  
					  <div class="col-md-12">
						<label for="name">Brands<span class="text-danger">*</span></label>
						<select class="form-control" name="brandId"  [(ngModel)]="data.brandId" (change) = "onChangeBrand()">
						  <option value="">Select Brands</option>
						  <option *ngFor="let brand of brands" value="{{brand.id}}">{{brand.name}}</option>
						</select>
					  </div>

						<div class="col-md-12">
							<label for="name">Business Centers<span class="text-danger">*</span></label>
							<select class="form-control" name="centerId"  [(ngModel)]="data.centerId" >
							  <option value="">Select Business Centers</option>
							  <option *ngFor="let center of centers" value="{{center.id}}">{{center.name}}</option>
							</select>
					  </div>
					
                        <div class="col-md-12">
							<label for="name">Name<span class="text-danger">*</span></label>
                        	<input class="form-control" name="name" placeholder="Name" type="text"  [(ngModel)]="data.name" required>
                        </div>
						
                        <div class="col-md-12">
							<label for="name">Description<span class="text-danger">*</span></label>
                          <input class="form-control" name="description" placeholder="Description" type="text"  [(ngModel)]="data.description" required>
                        </div>
						
						<div class="col-md-12">
							<label for="name">Address<span class="text-danger">*</span></label>
                          <input class="form-control" name="address" placeholder="Address" type="text"  [(ngModel)]="data.address" required>
                        </div>
						
						<div class="col-md-12">
                          <label>City<span class="text-danger">*</span></label>
                          <input class="form-control" name="city" placeholder="City" type="text"  [(ngModel)]="data.city" required>
                        </div>
						
						<div class="col-md-12">
							<label>Country<span class="text-danger">*</span></label> 
							<select class="form-control" name="country"  [(ngModel)]="data.country" (change) = "onChangeCountry()" required>
							  <option value="" >Select Country</option>
							  <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
							</select>
						</div>
						
						<div class="col-md-12">
                          <label>State/Province<span class="text-danger">*</span></label> 
                          <select class="form-control" name="state"  [(ngModel)]="data.state" required>
                            <option value="" >Select State/Province</option>
                            <option *ngFor="let state of provinces" value="{{state.id}}">{{state.name}}</option>
                          </select>
                        </div>
						
					
						
						<div class="col-md-12">
                          <label>Phone Number<span class="text-danger">*</span></label>
                          <input class="form-control" name="phone_no" placeholder="Phone Number" type="text"  [(ngModel)]="data.phone_no" required>
                        </div>
						
						<div class="col-md-12">
                          <label>Alternate Phone Number<span class="text-danger">*</span></label>
                          <input class="form-control" name="alternate_phone_no" placeholder="Alternate Phone Number" type="text"  [(ngModel)]="data.alternate_phone_no" required>
                        </div>
                      
						<input class="form-control" name="created_on" placeholder="Created On" type="hidden"  [(ngModel)]="data.created_on">
                      
                    </div> 
					
                    <div class="form-group row">
                      <div class="col-md-6">                     
                         <button class="btn btn-large btn-primary" type="submit" *ngIf="editparam.action == 'add'" [disabled] = "!mrForm.form.valid" >Add MR</button>               
                         <button class="btn btn-large btn-primary" type="submit" *ngIf="editparam.action == 'edit'">Update MR</button>
                      </div>
                    </div> 
                </div>                 
              </form>
            </div>
    </div>    
  </div>
  <!--/.row-->
</div>
