<div class="animated fadeIn" >
  <div class="row " style="padding: 0 150px;" > 
    <div class="col-md-6" *ngIf="role=='ADMIN'">
      <div class="card">
         <div class="card-header bg-primary" style="background-color: #8c7f5f !important;">
            <h4>New Artist Requests</h4>
         </div>
        <div class="card-body pb-0">
          
          <h4 class="mb-0" >
            <p class="pull-left">Total</p>
            <p class="pull-right">{{artists_requests}}</p>
          </h4>
        </div>
       
      </div>
    </div><!--/.col-->
    <div class="col-md-6" *ngIf="role=='ADMIN'">
      <div class="card">
         <div class="card-header bg-info"  style="background-color: #65625a  !important;">
            <h4>Registered Artists</h4>
         </div>
        <div class="card-body pb-0">
          <h4 class="mb-0" >
            <p class="pull-left">Total</p>
            <p class="pull-right">{{artists_registered}}</p>
          </h4>
        </div>
        
      </div>
    </div><!--/.col-->
    <div class="col-md-6" *ngIf="role=='ADMIN'">
      <div class="card">
         <div class="card-header bg-success"  style="background-color: #696762  !important;">
            <h4>New Salon Requests</h4>
         </div>
        <div class="card-body pb-0">          
          <h4 class="mb-0" >
            <p class="pull-left">Total</p>
            <p class="pull-right">{{salon_requests}}</p>
          </h4>
        </div>
        
      </div>
    </div><!--/.col-->
    <div class="col-md-6" *ngIf="role=='ADMIN'">
      <div class="card">
         <div class="card-header bg-danger"  style="background-color: #8a7541  !important;">
            <h4>Registered Salon</h4>
         </div>
        <div class="card-body pb-0">          
         <h4 class="mb-0" >
            <p class="pull-left">Total</p>
            <p class="pull-right">{{salon_registered}}</p>
          </h4>
        </div>
        
      </div>
    </div><!--/.col-->
    <div class="col-md-6" *ngIf="role=='ARTIST'">
      <div class="card">
         <div class="card-header bg-info"  style="background-color: #65625a  !important;">
            <h4>Services</h4>
         </div>
        <div class="card-body pb-0">          
         <h4 class="mb-0" >
            <p class="pull-left">Total</p>
            <p class="pull-right">{{artist_services}}</p>
          </h4>
        </div>      
      </div>
    </div><!--/.col-->
    <div class="col-md-6" *ngIf="role=='ARTIST'">
      <div class="card">
         <div class="card-header bg-primary"  style="background-color: #8c7f5f !important;">
            <h4>Revenue</h4>
         </div>
        <div class="card-body pb-0">          
         <h4 class="mb-0" >
            <p class="pull-left">Total</p>
            <p class="pull-right">0<!-- {{artist_revenue}} --></p>
          </h4>
        </div>      
      </div>
    </div><!--/.col-->
    <div class="col-md-6" *ngIf="role=='ARTIST'">
      <div class="card">
         <div class="card-header bg-success"  style="background-color: #8a7541  !important;">
            <h4>Bookings</h4>
         </div>
        <div class="card-body pb-0">          
         <h4 class="mb-0" >
            <p class="pull-left">Total</p>
            <p class="pull-right">0<!-- {{artist_bookings}} --></p>
          </h4>
        </div>      
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
