<div class="animated fadeIn" >
  <div class="row dashboardBox"  > 
    <div class="col-md-4" *ngIf="role=='ADMIN'">
      <div class="card">
         <div class="card-header bg-primary" style="background-color: #8c7f5f !important;">
            <h4>New Artist Requests</h4>
         </div>
        <div class="card-body pb-0">
          
          <h4 class="mb-0" >
            <p class="pull-left">Total</p>
            <p class="pull-right">{{artists_requests}}</p>
          </h4>
        </div>
       
      </div>
    </div><!--/.col-->
    <div class="col-md-4" *ngIf="role=='ADMIN'">
      <div class="card">
         <div class="card-header bg-info"  style="background-color: #65625a  !important;">
            <h4>Registered Artists</h4>
         </div>
        <div class="card-body pb-0">
          <h4 class="mb-0" >
            <p class="pull-left">Total</p>
            <p class="pull-right">{{artists_registered}}</p>
          </h4>
        </div>
        
      </div>
    </div><!--/.col-->
    <div class="col-md-4" *ngIf="role=='ADMIN'">
      <div class="card">
         <div class="card-header bg-primary"  style="background-color: #8c7f5f !important;">
            <h4>Current Month Revenue</h4>
         </div>
         <div class="card-body pb-0">
          <h4 class="mb-0" >
            <p class="pull-left">Total</p>
            <p class="pull-right">0</p>
          </h4>
        </div>
       <!--  <div class="card-body pb-0">
          <div class="form-group row">
            <div class="col-sm-9"><h4 class="mb-0" >Total</h4></div>
            <div class="col-sm-3"><h4 class="mb-0" >0</h4></div>
          </div>          
          <div class="form-group row" style="margin-top:15px;">
            <div class="col-sm-6 text-center"><h6>Till Date</h6></div>
            <div class="col-sm-6 text-center"><h6>Upcoming</h6></div>
            <div class="col-sm-6 text-center"><h6 style="background:#ccc;">(01-Mar to 04-Mar)</h6></div>
            <div class="col-sm-6 text-center"><h6  style="background:#ccc;">(05-Mar to 31-Mar)</h6></div>
            <div class="col-sm-6 text-center"><h6>2</h6></div>
            <div class="col-sm-6 text-center"><h6>0</h6></div>
          </div>
        </div>  -->          
      </div>
    </div><!--/.col-->
    <div class="col-md-4" *ngIf="role=='ADMIN'">
      <div class="card">
         <div class="card-header bg-success"  style="background-color: #696762  !important;">
            <h4>New Salon Requests</h4>
         </div>
        <div class="card-body pb-0">          
          <h4 class="mb-0" >
            <p class="pull-left">Total</p>
            <p class="pull-right">{{salon_requests}}</p>
          </h4>
        </div>
        
      </div>
    </div><!--/.col-->
    <div class="col-md-4" *ngIf="role=='ADMIN'">
      <div class="card">
         <div class="card-header bg-danger"  style="background-color: #8a7541  !important;">
            <h4>Registered Salons</h4>
         </div>
        <div class="card-body pb-0">          
         <h4 class="mb-0" >
            <p class="pull-left">Total</p>
            <p class="pull-right">{{salon_registered}}</p>
          </h4>
        </div>
        
      </div>
    </div><!--/.col-->    
    <div class="col-md-4" *ngIf="role=='ADMIN'">
      <div class="card">
         <div class="card-header bg-primary"  style="background-color: #8c7f5f !important;">
            <h4>Lifetime Revenue</h4>
         </div>
         <div class="card-body pb-0">
          <h4 class="mb-0" >
            <p class="pull-left">Total</p>
            <p class="pull-right">0</p>
          </h4>
        </div> 
       <!--  <div class="card-body pb-0">
          <div class="form-group row">
            <div class="col-sm-9"><h4 class="mb-0" >Total</h4></div>
            <div class="col-sm-3"><h4 class="mb-0" >0</h4></div>
          </div>          
          <div class="form-group row" style="margin-top:15px;">
            <div class="col-sm-6 text-center"><h6>Till Date</h6></div>
            <div class="col-sm-6 text-center"><h6>Upcoming</h6></div>
            <div class="col-sm-6 text-center"><h6 style="background:#ccc;">(01-Mar to 04-Mar)</h6></div>
            <div class="col-sm-6 text-center"><h6  style="background:#ccc;">(05-Mar to 31-Mar)</h6></div>
            <div class="col-sm-6 text-center"><h6>2</h6></div>
            <div class="col-sm-6 text-center"><h6>0</h6></div>
          </div>
        </div>  -->        
      </div>
    </div><!--/.col-->
    <!-- <div class="col-md-4" *ngIf="role=='ARTIST'">
      <div class="card">
         <div class="card-header bg-info"  style="background-color: #65625a  !important;">
            <h4>Services</h4>
         </div>
         <div class="card-body pb-0">
          <div class="form-group row">
            <div class="col-sm-12 text-center"><h2 class="mb-0" >Total</h2></div>
          </div>          
          <div class="form-group row">
            <div class="col-sm-12 text-center"><h1 class="mb-0" >{{artist_services}}</h1></div>
          </div>
        </div>         
      </div>
    </div> --><!--/.col-->
    <div class="col-md-4" *ngIf="role=='ARTIST' || role=='SALON'">
      <div class="card">
         <div class="card-header bg-success"  style="background-color: #8a7541  !important;">
            <h4>Bookings</h4>
         </div>
        <div class="card-body pb-0">
          <div class="form-group row">
            <div class="col-sm-9"><h4 class="mb-0" >Total</h4></div>
            <div class="col-sm-3"><h4 class="mb-0" >{{total_bookings}}</h4></div>
          </div>          
          <div class="form-group row" style="margin-top:15px;">
            <div class="col-sm-6 text-center"><h6>Till Date</h6></div>
            <div class="col-sm-6 text-center"><h6>Upcoming</h6></div>
            <div class="col-sm-6 text-center"><h6 style="background:#ccc;">({{this.firstDayDisplay}} to {{this.dateDisplay}})</h6></div>
            <div class="col-sm-6 text-center"><h6  style="background:#ccc;">({{this.dateDisplay}} to {{this.lastDayDisplay}})</h6></div>
            <div class="col-sm-6 text-center"><h6>{{till_bookings}}</h6></div>
            <div class="col-sm-6 text-center"><h6>{{upcoming_bookings}}</h6></div>
          </div>
        </div>      
      </div>
    </div><!--/.col-->
    <div class="col-md-4" *ngIf="role=='ARTIST' || role=='SALON'">
      <div class="card">
         <div class="card-header bg-primary"  style="background-color: #8c7f5f !important;">
            <h4>Current Month Revenue</h4>
         </div>
         <div class="card-body pb-0">
          <div class="form-group row">
            <div class="col-sm-12 text-center"><h2 class="mb-0" >Total</h2></div>
          </div>          
          <div class="form-group row">
            <div class="col-sm-12 text-center"><h1 class="mb-0" >{{month_revenue}}</h1></div>
          </div>
        </div> 
        <!-- <div class="card-body pb-0">
          <div class="form-group row">
            <div class="col-sm-9"><h4 class="mb-0" >Total</h4></div>
            <div class="col-sm-3"><h4 class="mb-0" >0</h4></div>
          </div>          
          <div class="form-group row" style="margin-top:15px;">
            <div class="col-sm-6 text-center"><h6>Till Date</h6></div>
            <div class="col-sm-6 text-center"><h6>Upcoming</h6></div>
            <div class="col-sm-6 text-center"><h6 style="background:#ccc;">(01-Mar to 04-Mar)</h6></div>
            <div class="col-sm-6 text-center"><h6  style="background:#ccc;">(05-Mar to 31-Mar)</h6></div>
            <div class="col-sm-6 text-center"><h6>2</h6></div>
            <div class="col-sm-6 text-center"><h6>0</h6></div>
          </div>
        </div>   -->         
      </div>
    </div><!--/.col-->
    <div class="col-md-4" *ngIf="role=='ARTIST' || role=='SALON'">
      <div class="card">
         <div class="card-header bg-primary"  style="background-color: #8c7f5f !important;">
            <h4>Lifetime Revenue</h4>
         </div>
         <div class="card-body pb-0">
          <div class="form-group row">
            <div class="col-sm-12 text-center"><h2 class="mb-0" >Total</h2></div>
          </div>          
          <div class="form-group row">
            <div class="col-sm-12 text-center"><h1 class="mb-0" >{{total_revenue}}</h1></div>
          </div>
        </div> 
        <!-- <div class="card-body pb-0">
          <div class="form-group row">
            <div class="col-sm-9"><h4 class="mb-0" >Total</h4></div>
            <div class="col-sm-3"><h4 class="mb-0" >0</h4></div>
          </div>          
          <div class="form-group row" style="margin-top:15px;">
            <div class="col-sm-6 text-center"><h6>Till Date</h6></div>
            <div class="col-sm-6 text-center"><h6>Upcoming</h6></div>
            <div class="col-sm-6 text-center"><h6 style="background:#ccc;">(01-Mar to 04-Mar)</h6></div>
            <div class="col-sm-6 text-center"><h6  style="background:#ccc;">(05-Mar to 31-Mar)</h6></div>
            <div class="col-sm-6 text-center"><h6>2</h6></div>
            <div class="col-sm-6 text-center"><h6>0</h6></div>
          </div>
        </div>   -->       
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
