<div class="animated fadeIn">
  <div class="row">
  	<div class="col-lg-12">
      	<div class="card">         
            <div class="card-header">                                    
              <span *ngIf="editparam.action == 'add'">Add/Edit Services</span>
			</div>
          	<div class="card-body">  
            	<!-- Nav tabs -->
            	<tabset>
            		<tab heading="Makeup"> 
	                  <div class="form-group row"  *ngFor = "let subservice of makeupservices">
	                    <div class="col-md-4 service-card card-body">
	                       <h6>{{subservice.name}}</h6>

	                       <span class="pull-right">
	                       		<button class="btn btn-sm btn-primary" type="button" data-toggle="modal" (click)="makeupModal.show()" *ngIf="makeupservicesData[subservice.id] == ''"><span class="fa fa-plus"></span></button>
	                       		<button class="btn btn-sm btn-primary" type="button"  *ngIf="makeupservicesData[subservice.id] != ''" data-toggle="modal" (click)="makeupModal.show()"  ><span class="fa fa-pencil"></span></button>
	                       		<button class="btn btn-sm btn-danger" type="button"  *ngIf="makeupservicesData[subservice.id] != ''" (click)="delsubservicedata(makeupservicesData[subservice.id].id)" ><span class="fa fa-trash"></span></button>
	                       </span>

	                       <div class="clearfix"></div>
	                       
	                       <span *ngIf="makeupservicesData[subservice.id]">BHD{{makeupservicesData[subservice.id].price}} for </span>
	                       <span *ngIf="makeupservicesData[subservice.id]">{{makeupservicesData[subservice.id].duration}}</span>
	                       <span *ngIf="makeupservicesData[subservice.id]"><br/>{{makeupservicesData[subservice.id].servicetype}}
	                       </span>

	                        <div bsModal #makeupModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	                          <div class="modal-dialog modal-primary" role="document">
	                            <div class="modal-content">
	                              <div class="modal-body">
	                              	<h6>{{subservice.name}}</h6>
	                                <button type="button" class="btn btn-default pull-right closeModalButton" (click)="makeupModal.hide()" style="margin-right:5px;" >Cancel</button>	
	                                <button class="btn btn-primary pull-right" type="button" (click)="savesubservicedata(subservice.id,1)" style="margin-right:5px;" *ngIf="makeupservicesData[subservice.id]== ''" >Save</button> 
	                                <button class="btn btn-primary pull-right" type="button" (click)="updatesubservicedata(makeupservicesData[subservice.id])" style="margin-right:5px;" *ngIf="makeupservicesData[subservice.id] != ''" >Update</button>                                
	                              </div>
	                              <div class="modal-footer"> 
	                              	<div class="form-group row" *ngIf="makeupservicesData[subservice.id] == ''">
		                                <div class="col-md-6">
		                                  	<label>PRICE </label>
		                                  	<div class="input-group">
							                  <div class="input-group-prepend">
							                    <span class="input-group-text">BHD</span>
							                  </div>
		                                 	  <input class="form-control" name="price" type="text"  [(ngModel)]="data.price"  placeholder="e.g. 1200" required>
		                                 	</div>
		                                </div>
		                                <div class="col-md-6">
		                                  <label>DURATION </label>
		                                  <select class="form-control" name="duration" [(ngModel)]="data.duration" required>
		                                  	<option value="">Duration</option>
		                                  	<option value="15min">15min</option>
		                                  	<option value="30min">30min</option>
		                                  	<option value="45min">45min</option>
		                                  	<option value="1hr">1hr</option>
		                                  	<option value="1hr 15min">1hr 15min</option>
		                                  	<option value="1hr 30min">1hr 30min</option>
		                                  	<option value="1hr 45min">1hr 45min</option>
		                                  	<option value="2hr">2hr</option>
		                                  	<option value="2hr 15min">2hr 15min</option>
		                                  	<option value="2hr 30min">2hr 30min</option>
		                                  	<option value="2hr 45min">2hr 45min</option>
		                                  	<option value="3hr">3hr</option>
		                                  	<option value="3hr 15min">3hr 15min</option>
		                                  	<option value="3hr 30min">3hr 30min</option>
		                                  	<option value="3hr 45min">3hr 45min</option>
		                                  	<option value="4hr">4hr</option>
		                                  	<option value="5hr">5hr</option>
		                                  	<option value="6hr">6hr</option>
		                                  	<option value="7hr">7hr</option>
		                                  	<option value="8hr">8hr</option>
		                                  </select>
		                                  <!-- <input class="form-control" name="duration" type="text"  [(ngModel)]="data.duration" placeholder="e.g. 12min OR 1hr"  > -->
		                                </div>
		                                <div class="col-md-6">
					                      <label>Service type<span class="text-danger">*</span></label> 
					                      <ng-select class="bootstrap"  name="servicetype"  placeholder="Select Service Type"
					                       [options]="servicetypes" [multiple]="true" 
					                       [(ngModel)]="data.servicetype" required></ng-select>
					                    </div>
					                  </div> 
	                                  <div class="form-group row" *ngIf="makeupservicesData[subservice.id] != ''">
		                                <div class="col-md-6">
		                                  <label>PRICE </label>
		                                  <div class="input-group">
							                  <div class="input-group-prepend">
							                    <span class="input-group-text">BHD</span>
							                  </div>
		                                  	  <input class="form-control" name="price" type="text"  [(ngModel)]="makeupservicesData[subservice.id].price"  value="{{makeupservicesData[subservice.id].price}}" placeholder="e.g. 1200" >
		                                  	</div>
		                                </div>
		                                <div class="col-md-6">
		                                  <label>DURATION </label>
		                                  <select class="form-control" name="duration"  [(ngModel)]="makeupservicesData[subservice.id].duration" required>
		                                  	<option value="">Duration</option>
		                                  	<option value="15min">15min</option>
		                                  	<option value="30min">30min</option>
		                                  	<option value="45min">45min</option>
		                                  	<option value="1hr">1hr</option>
		                                  	<option value="1hr 15min">1hr 15min</option>
		                                  	<option value="1hr 30min">1hr 30min</option>
		                                  	<option value="1hr 45min">1hr 45min</option>
		                                  	<option value="2hr">2hr</option>
		                                  	<option value="2hr 15min">2hr 15min</option>
		                                  	<option value="2hr 30min">2hr 30min</option>
		                                  	<option value="2hr 45min">2hr 45min</option>
		                                  	<option value="3hr">3hr</option>
		                                  	<option value="3hr 15min">3hr 15min</option>
		                                  	<option value="3hr 30min">3hr 30min</option>
		                                  	<option value="3hr 45min">3hr 45min</option>
		                                  	<option value="4hr">4hr</option>
		                                  	<option value="5hr">5hr</option>
		                                  	<option value="6hr">6hr</option>
		                                  	<option value="7hr">7hr</option>
		                                  	<option value="8hr">8hr</option>
		                                  </select>
		                                 <!--  <input class="form-control" name="duration" type="text"  [(ngModel)]="makeupservicesData[subservice.id].duration" placeholder="e.g. 12min OR 1hr" value="{{makeupservicesData[subservice.id].duration}}" > -->
		                                </div>
		                                <div class="col-md-6">
					                      <label>Service type<span class="text-danger">*</span></label> 
					                      <ng-select class="bootstrap"  name="servicetype"  placeholder="Select Service Type"  [options]="servicetypes" [multiple]="true" 
					                       [(ngModel)]="makeupservicesData[subservice.id].servicetype"  required></ng-select>
					                    </div>
	                                </div>  
	                                </div>
	                              </div>
	                            </div><!-- /.modal-content -->
	                          </div><!-- /.modal-dialog -->
	                        </div><!-- /.modal -->
	                    </div>		  
              		</tab>
              		<!-- <tab heading="Nails"> 
	                  <div class="form-group row"  *ngFor = "let subservice of nailservices">
	                    <div class="col-md-4 service-card card-body">
	                      <h6>{{subservice.name}}</h6>

	                       <span class="pull-right">
	                       		<button class="btn btn-sm btn-primary" type="button" data-toggle="modal" (click)="nailsModal.show()" *ngIf="nailservicesData[subservice.id] == ''"><span class="fa fa-plus"></span></button>
	                       		<button class="btn btn-sm btn-primary" type="button"  *ngIf="nailservicesData[subservice.id] != ''" data-toggle="modal" (click)="nailsModal.show()"  ><span class="fa fa-pencil"></span></button>
	                       		<button class="btn btn-sm btn-danger" type="button"  *ngIf="nailservicesData[subservice.id] != ''"  (click)="delsubservicedata(nailservicesData[subservice.id].id)" ><span class="fa fa-trash"></span></button>	                       		
	                       </span>

	                       <div class="clearfix"></div>
	                       <span *ngIf="nailservicesData[subservice.id] != ''">Price: BHD{{nailservicesData[subservice.id].price}}</span>
	                       <span *ngIf="nailservicesData[subservice.id] != ''">Duration: {{nailservicesData[subservice.id].duration}}</span>

	                       <div bsModal #nailsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	                          <div class="modal-dialog modal-primary" role="document">
	                            <div class="modal-content">
	                              <div class="modal-body">
	                              	<h6>{{subservice.name}}</h6>
	                                <button type="button" class="btn btn-default pull-right closeModalButton" (click)="nailsModal.hide()" style="margin-right:5px;">Cancel</button>	
	                                <button class="btn btn-primary pull-right" style="margin-right:5px;" type="button" (click)="savesubservicedata(subservice.id,2)" *ngIf="nailservicesData[subservice.id] == ''">Save</button>	   
	                                <button class="btn btn-primary pull-right" type="button" (click)="updatesubservicedata(nailservicesData[subservice.id])" style="margin-right:5px;" *ngIf="nailservicesData[subservice.id] != ''" >Update</button>                                
	                              </div>
	                              <div class="modal-footer"> 
	                              	<div class="form-group row" *ngIf="nailservicesData[subservice.id] == ''">
		                                <div class="col-md-6">
		                                  <label>PRICE </label>
		                                  <div class="input-group">
							                  <div class="input-group-prepend">
							                    <span class="input-group-text">BHD</span>
							                  </div>
		                                	  <input class="form-control" name="price" type="text"  [(ngModel)]="data.price"  value="{{nailservicesData[subservice.id].price}}" placeholder="e.g. 1200" >
		                                	</div>
		                                </div>
		                                <div class="col-md-6">
		                                  <label>DURATION </label>
		                                  <select class="form-control" name="duration"  [(ngModel)]="data.duration" required>
		                                  	<option value="">Duration</option>
		                                  	<option value="15min">15min</option>
		                                  	<option value="30min">30min</option>
		                                  	<option value="45min">45min</option>
		                                  	<option value="1hr">1hr</option>
		                                  	<option value="1hr 15min">1hr 15min</option>
		                                  	<option value="1hr 30min">1hr 30min</option>
		                                  	<option value="1hr 45min">1hr 45min</option>
		                                  	<option value="2hr">2hr</option>
		                                  	<option value="2hr 15min">2hr 15min</option>
		                                  	<option value="2hr 30min">2hr 30min</option>
		                                  	<option value="2hr 45min">2hr 45min</option>
		                                  	<option value="3hr">3hr</option>
		                                  	<option value="3hr 15min">3hr 15min</option>
		                                  	<option value="3hr 30min">3hr 30min</option>
		                                  	<option value="3hr 45min">3hr 45min</option>
		                                  	<option value="4hr">4hr</option>
		                                  	<option value="5hr">5hr</option>
		                                  	<option value="6hr">6hr</option>
		                                  	<option value="7hr">7hr</option>
		                                  	<option value="8hr">8hr</option>
		                                  </select>
		                                </div>
	                                </div>
	                                <div class="form-group row" *ngIf="nailservicesData[subservice.id] != ''">
		                                <div class="col-md-6">
		                                  <label>PRICE </label>
		                                  <div class="input-group">
							                  <div class="input-group-prepend">
							                    <span class="input-group-text">BHD</span>
							                  </div>
		                                  	  <input class="form-control" name="price" type="text"  [(ngModel)]="nailservicesData[subservice.id].price"  value="{{nailservicesData[subservice.id].price}}" placeholder="e.g. 1200" >
		                                  	</div>
		                                </div>
		                                <div class="col-md-6">
		                                  <label>DURATION </label>
		                                  <select class="form-control" name="duration"  [(ngModel)]="nailservicesData[subservice.id].duration" required>
		                                  	<option value="">Duration</option>
		                                  	<option value="15min">15min</option>
		                                  	<option value="30min">30min</option>
		                                  	<option value="45min">45min</option>
		                                  	<option value="1hr">1hr</option>
		                                  	<option value="1hr 15min">1hr 15min</option>
		                                  	<option value="1hr 30min">1hr 30min</option>
		                                  	<option value="1hr 45min">1hr 45min</option>
		                                  	<option value="2hr">2hr</option>
		                                  	<option value="2hr 15min">2hr 15min</option>
		                                  	<option value="2hr 30min">2hr 30min</option>
		                                  	<option value="2hr 45min">2hr 45min</option>
		                                  	<option value="3hr">3hr</option>
		                                  	<option value="3hr 15min">3hr 15min</option>
		                                  	<option value="3hr 30min">3hr 30min</option>
		                                  	<option value="3hr 45min">3hr 45min</option>
		                                  	<option value="4hr">4hr</option>
		                                  	<option value="5hr">5hr</option>
		                                  	<option value="6hr">6hr</option>
		                                  	<option value="7hr">7hr</option>
		                                  	<option value="8hr">8hr</option>
		                                  </select>
		                                </div>
	                                </div>
	                              </div>
	                            </div>
	                          </div>
	                        </div>
	                    </div>		                                    
	                  </div>
              		</tab> -->
              		<tab heading="Hair"> 
	                  <div class="form-group row" *ngFor = "let subservice of hairservices">
	                    <div class="col-md-4 service-card card-body" >
	                       <h6>{{subservice.name}}</h6>

	                       <span class="pull-right">
	                       		<button class="btn btn-sm btn-primary" type="button" data-toggle="modal" (click)="hairModal.show()" *ngIf="hairservicesData[subservice.id] == ''"><span class="fa fa-plus"></span></button>
	                       		<button class="btn btn-sm btn-primary" type="button"  *ngIf="hairservicesData[subservice.id] != ''" data-toggle="modal" (click)="hairModal.show()"  ><span class="fa fa-pencil"></span></button>
	                       		<button class="btn btn-sm btn-danger" type="button"  *ngIf="hairservicesData[subservice.id] != ''"  (click)="delsubservicedata(hairservicesData[subservice.id].id)" ><span class="fa fa-trash"></span></button>	                       		
	                       </span>

	                       <div class="clearfix"></div>
	                       <span *ngIf="hairservicesData[subservice.id]">BHD{{hairservicesData[subservice.id].price}} for </span> 
	                       <span *ngIf="hairservicesData[subservice.id]">{{hairservicesData[subservice.id].duration}}</span>
	                       <span *ngIf="hairservicesData[subservice.id]"><br/>{{hairservicesData[subservice.id].servicetype}}
	                       </span>


	                       <div bsModal #hairModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	                          <div class="modal-dialog modal-primary" role="document">
	                            <div class="modal-content">
	                              <div class="modal-body">
	                              	<h6>{{subservice.name}}</h6>
	                                <button type="button" class="btn btn-default pull-right closeModalButton" (click)="hairModal.hide()" style="margin-right:5px;">Cancel</button>	
	                                <button class="btn btn-primary pull-right" style="margin-right:5px;" type="button" (click)="savesubservicedata(subservice.id,3)" *ngIf="hairservicesData[subservice.id] == ''">Save</button> 
	                                <button class="btn btn-primary pull-right" type="button" (click)="updatesubservicedata(hairservicesData[subservice.id])" style="margin-right:5px;" *ngIf="hairservicesData[subservice.id] != ''" >Update</button>                                
	                              </div>
	                              <div class="modal-footer"> 
	                              	<div class="form-group row" *ngIf="hairservicesData[subservice.id] == ''">
		                                <div class="col-md-6">
		                                  <label>PRICE </label>
		                                  <div class="input-group">
							                  <div class="input-group-prepend">
							                    <span class="input-group-text">BHD</span>
							                  </div>
		                                  	  <input class="form-control" name="price" type="text"  [(ngModel)]="data.price"  value="{{hairservicesData[subservice.id].price}}" placeholder="e.g. 1200" >
		                                  	</div>
		                                </div>
		                                <div class="col-md-6">
		                                  <label>DURATION </label>
		                                 <select class="form-control" name="duration"  [(ngModel)]="data.duration" required>
		                                  	<option value="">Duration</option>
		                                  	<option value="15min">15min</option>
		                                  	<option value="30min">30min</option>
		                                  	<option value="45min">45min</option>
		                                  	<option value="1hr">1hr</option>
		                                  	<option value="1hr 15min">1hr 15min</option>
		                                  	<option value="1hr 30min">1hr 30min</option>
		                                  	<option value="1hr 45min">1hr 45min</option>
		                                  	<option value="2hr">2hr</option>
		                                  	<option value="2hr 15min">2hr 15min</option>
		                                  	<option value="2hr 30min">2hr 30min</option>
		                                  	<option value="2hr 45min">2hr 45min</option>
		                                  	<option value="3hr">3hr</option>
		                                  	<option value="3hr 15min">3hr 15min</option>
		                                  	<option value="3hr 30min">3hr 30min</option>
		                                  	<option value="3hr 45min">3hr 45min</option>
		                                  	<option value="4hr">4hr</option>
		                                  	<option value="5hr">5hr</option>
		                                  	<option value="6hr">6hr</option>
		                                  	<option value="7hr">7hr</option>
		                                  	<option value="8hr">8hr</option>
		                                  </select>
		                                </div>
		                                <div class="col-md-6">
					                      <label>Service type<span class="text-danger">*</span></label> 
					                      <ng-select class="bootstrap"  name="servicetype"  placeholder="Select Service Type"
					                       [options]="servicetypes" [multiple]="true" 
					                       [(ngModel)]="data.servicetype" required></ng-select>
					                    </div>
	                                </div>
	                                <div class="form-group row" *ngIf="hairservicesData[subservice.id] != ''">
		                                 <div class="col-md-6">
		                                  <label>PRICE </label>
		                                  <div class="input-group">
							                  <div class="input-group-prepend">
							                    <span class="input-group-text">BHD</span>
							                  </div>
		                                  	  <input class="form-control" name="price" type="text"  [(ngModel)]="hairservicesData[subservice.id].price"  value="{{hairservicesData[subservice.id].price}}" placeholder="e.g. 1200" >
		                                  	</div>
		                                </div>
		                                <div class="col-md-6">
		                                  <label>DURATION </label>
		                                  <select class="form-control" name="duration"  [(ngModel)]="hairservicesData[subservice.id].duration" required>
		                                  	<option value="">Duration</option>
		                                  	<option value="15min">15min</option>
		                                  	<option value="30min">30min</option>
		                                  	<option value="45min">45min</option>
		                                  	<option value="1hr">1hr</option>
		                                  	<option value="1hr 15min">1hr 15min</option>
		                                  	<option value="1hr 30min">1hr 30min</option>
		                                  	<option value="1hr 45min">1hr 45min</option>
		                                  	<option value="2hr">2hr</option>
		                                  	<option value="2hr 15min">2hr 15min</option>
		                                  	<option value="2hr 30min">2hr 30min</option>
		                                  	<option value="2hr 45min">2hr 45min</option>
		                                  	<option value="3hr">3hr</option>
		                                  	<option value="3hr 15min">3hr 15min</option>
		                                  	<option value="3hr 30min">3hr 30min</option>
		                                  	<option value="3hr 45min">3hr 45min</option>
		                                  	<option value="4hr">4hr</option>
		                                  	<option value="5hr">5hr</option>
		                                  	<option value="6hr">6hr</option>
		                                  	<option value="7hr">7hr</option>
		                                  	<option value="8hr">8hr</option>
		                                  </select>
		                                </div>
		                                <div class="col-md-6">
					                      <label>Service type<span class="text-danger">*</span></label> 
					                      <ng-select class="bootstrap"  name="servicetype"  placeholder="Select Service Type"  [options]="servicetypes" [multiple]="true" 
					                       [(ngModel)]="hairservicesData[subservice.id].servicetype"  required></ng-select>
					                    </div>
	                                </div>
	                              </div>
	                            </div><!-- /.modal-content -->
	                          </div><!-- /.modal-dialog -->
	                        </div><!-- /.modal -->
	                    </div>		                                    
	                  </div>
              		</tab>
              		<tab heading = "Courses">

              		</tab>
           		</tabset>
			</div>
        </div> 
    </div>    

  </div>
  <!--/.row-->
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>