<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <a class="btn btn-large btn-primary pull-right" href="#" routerLink='addartistservices' style="margin-bottom:5px"><i class="fa fa-user-plus"></i> Add/Edit Service</a>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12">
        <div class="card">         
            <div class="card-header">                                    
              <span>Review Services</span>
      </div>
            <div class="card-body">  
              <!-- Nav tabs -->
              <tabset>
                <tab heading="Makeup"> 
                    <div class="col-md-12" *ngIf = "nomakeup == 0"> No makeup services added by you.</div>

                    <div  class="form-group row"  *ngFor = "let subservice of makeup">
                      <div class=" col-md-4 service-card card-body">
                         <h6>{{subservice.name}}
                            <span *ngIf="makeupservicesData[subservice.id]">({{makeupservicesData[subservice.id].servicetype}})</span>
                         </h6>
                         <div class="clearfix"></div>

                         <span *ngIf = "makeupservicesData[subservice.id]">BHD {{makeupservicesData[subservice.id].price}} for</span><span *ngIf = "makeupservicesData[subservice.id]">{{makeupservicesData[subservice.id].duration}}</span> 
                         <!-- <span *ngIf="makeupservicesData[subservice.id]"><br/>{{makeupservicesData[subservice.id].servicetype}} 
                         </span>                        --> 
                      </div>                                        
                    </div>
                  </tab>
                  <!-- <tab heading="Nails"> 
                    <div class="col-md-12" *ngIf = "nonail == 0"> No nail services added by you.</div>

                    <div class="form-group row" *ngFor = "let subservice of nails">
                      <div class=" col-md-4 service-card card-body"  >
                         <h6>{{subservice.name}} </h6>
                         <div class="clearfix"></div>
                         <span *ngIf = "nailservicesData[subservice.id]">Price: BHD{{nailservicesData[subservice.id].price}}</span>
                         <span *ngIf = "nailservicesData[subservice.id]">Duration: {{nailservicesData[subservice.id].duration}}</span>                          
                      </div>                                        
                    </div>
                  </tab> -->
                  <tab heading="Hair"> 
                    <div class="col-md-12" *ngIf = "nohair == 0"> No makeup services added by you.</div>

                    <div class="form-group row" *ngFor = "let subservice of hair">
                      <div class=" col-md-4 service-card card-body"  >
                         <h6>{{subservice.name}} 
                            <span *ngIf="hairservicesData[subservice.id]">({{hairservicesData[subservice.id].servicetype}})
                            </span> 
                         </h6>
                         <div class="clearfix"></div>
                         <span *ngIf = "hairservicesData[subservice.id]">BHD {{hairservicesData[subservice.id].price}} for</span><span *ngIf = "hairservicesData[subservice.id]">{{hairservicesData[subservice.id].duration}}</span>   
                         <!-- <span *ngIf="hairservicesData[subservice.id]"><br/>{{hairservicesData[subservice.id].servicetype}}
                         </span>  -->                                               
                      </div>                                        
                    </div>
                  </tab>

                  <!-- <tab heading="Courses">
                    <div class="col-md-12" *ngIf = "nocourses == 0"> No courses added by you.</div>

                    <div class="form-group row"><div class="col-md-12"><button type="button" class="btn btn-small btn-primary pull-right" data-toggle="modal" (click)="courseModal.show()"><span class="fa fa-plus"></span> Add New Course</button></div></div>

                    <div class="form-group row" *ngFor = "let coursedetail of coursesData">
                      <div class="col-md-4 service-card card-body" >
                         <h6>{{coursedetail.name}}</h6>

                         <div class="clearfix"></div>
                         <span >BHD{{coursedetail.price}} for </span> 
                         <span >{{coursedetail.duration}}</span>
                      </div>
                    </div>

                  </tab> -->

                    <tab heading = "Courses" >

                    <div class="form-group row"><div class="col-md-12"><button type="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" (click)="courseModal.show()"><span class="fa fa-plus"></span> Add New Course</button></div></div>

                     <div class="form-group row" *ngFor = "let coursedetail of coursesData">
                        <div class="col-md-4 service-card card-body" >
                           <h6>{{coursedetail.name}}</h6>

                           <span class="pull-right">
                              <button class="btn btn-sm btn-outline-primary" type="button"  data-toggle="modal" (click)="updateCourseModal.show()"  ><span class="fa fa-pencil"></span></button>
                              <button class="btn btn-sm btn-outline-primary" type="button" (click)="delcoursedata(coursedetail.id)" ><span class="fa fa-trash"></span></button>                           
                           </span>

                           <div class="clearfix"></div>
                           <span >BHD {{coursedetail.price}} for</span>
                           <span >{{coursedetail.duration}}</span>
                        </div>

                        <div bsModal #updateCourseModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-primary" role="document">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <h5>Update Course Details</h5>
                                  <button type="button" class="btn btn-default pull-right closeModalButton" (click)="updateCourseModal.hide()" style="margin-right:5px;">Cancel</button>
                                <button class="btn btn-primary pull-right" type="button" (click)="updatecoursedata(coursedetail)" style="margin-right:5px;" [disabled] = "!courseServiceForm.form.valid" >Update</button> 
                                </div>
                                <div class="card-body" style="border-top:1px solid #c2cfd6;">
                                <form class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="" #courseServiceForm="ngForm"> 
                                  <div class="form-group row" >
                                    <div class="col-md-6">
                                      <label>Name </label>    
                                      <input class="form-control" name="coursename" type="text"  [(ngModel)]="coursedetail.name" required value="{{coursedetail.name}}" placeholder="Course Name">
                                    </div>
                                    <div class="col-md-6">
                                      <label>Price </label>
                                      <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">BHD</span>
                                </div>
                                          <input class="form-control" name="courseprice" type="text"  [(ngModel)]="coursedetail.price"  value="{{coursedetail.price}}" required placeholder="e.g. 1200" >
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" >
                                    <div class="col-md-6">                                    
                                      <label>Description </label>
                                      <input class="form-control" name="coursedescription" type="text"  [(ngModel)]="coursedetail.description"  value="{{coursedetail.description}}" required placeholder="Course Description" >
                              </div>                            
                                    <div class="col-md-6">                                    
                                      <label>Course Duration(in days) </label>
                                      <input class="form-control" name="courseduration" type="text"  [(ngModel)]="coursedetail.duration"  value="{{coursedetail.duration}}" required placeholder="Course Duration (in days)" >
                              </div>
                          </div>
                          <div class="form-group row" >                               
                                    <div class="col-md-6">                                    
                                      <label>Time Slot From </label>                                  
                                      <!-- <input class="form-control" name="coursetimeslotFrom" type="text"  [(ngModel)]="coursedetail.timeslotFrom"  value="{{coursedetail.timeslotFrom}}" placeholder="From" > -->

                                       <timepicker [(ngModel)]="coursedetail.timeslotFrom" (change)="changed()" [hourStep]="hstep" [minuteStep]="mstep" required [showMeridian]="ismeridian" [readonlyInput]="!isEnabled"></timepicker>
                                     </div>
                                     <div class="col-md-6">
                                      <label>Time Slot To</label>
                                      <!-- <input class="form-control " name="coursetimeslotTo" type="text"  [(ngModel)]="coursedetail.timeslotTo"  value="{{coursedetail.timeslotTo}}" placeholder="To" > -->

                                      <timepicker [(ngModel)]="coursedetail.timeslotTo" (change)="changed()" [hourStep]="hstep" [minuteStep]="mstep" [showMeridian]="ismeridian" required [readonlyInput]="!isEnabled"></timepicker>
                              </div>
                                  </div></form>
                                </div>
                              </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                          </div><!-- /.modal -->
                    </div>






                       <div bsModal #courseModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-primary" role="document">
                            <div class="modal-content">
                              <div class="modal-body">
                                <h5>New Course Details</h5>
                                <button type="button" class="btn btn-default pull-right closeModalButton" (click)="courseModal.hide()" style="margin-right:5px;">Cancel</button>
                                <button class="btn btn-primary pull-right" style="margin-right:5px;" type="button" (click)="savecoursedata()" [disabled] = "!courseServiceForm.form.valid">Save</button> 
                              </div>
                              <div class="card-body" style="border-top:1px solid #c2cfd6;">                               
                                <form class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="" #courseServiceForm="ngForm"> 
                                <div class="form-group row" >
                                  <div class="col-md-6">
                                    <label>Name </label>    
                                    <input class="form-control" name="name" type="text"  [(ngModel)]="course.name" required value="" placeholder="Course Name">
                                  </div>
                                  <div class="col-md-6">
                                    <label>Price </label>
                                    <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">BHD</span>
                              </div>
                                        <input class="form-control" name="price" type="text"  [(ngModel)]="course.price" required  value="" placeholder="e.g. 1200" >
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group row" >
                                  <div class="col-md-6">                                    
                                    <label>Description </label>
                                    <input class="form-control" name="description" type="text"  [(ngModel)]="course.description"  required value="" placeholder="Course Description" >
                            </div>                            
                                  <div class="col-md-6">                                    
                                    <label>Course Duration(in days) </label>
                                    <input class="form-control" name="duration" type="text"  [(ngModel)]="course.duration" required value="" placeholder="Course Duration (in days)" >
                            </div>
                        </div>
                        <div class="form-group row" >                         
                                  <div class="col-md-6">                                    
                                    <label>Time Slot From </label>                                    
                                    <!-- <input class="form-control" name="timeslotFrom" type="text"  [(ngModel)]="course.timeslotFrom"  value="" placeholder="From" > -->

                                    <timepicker [(ngModel)]="course.timeslotFrom" (change)="changed()" [hourStep]="hstep" [minuteStep]="mstep" [showMeridian]="ismeridian" required [readonlyInput]="!isEnabled"></timepicker>
                                  </div>
                                  <div class="col-md-6">
                                    <label>Time Slot To</label>
                                   <!--  <input class="form-control" name="timeslotTo" type="text"  [(ngModel)]="course.timeslotTo"  value="" placeholder="To" > -->

                    <timepicker [(ngModel)]="course.timeslotTo" (change)="changed()" [hourStep]="hstep" [minuteStep]="mstep" [showMeridian]="ismeridian" required [readonlyInput]="!isEnabled"></timepicker>
                            </div>
                                </div></form>
                              </div>
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                  </tab>
              </tabset>
      </div>
        </div> 
    </div>    

  </div>
  <!--/.row-->
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>