<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Work Availability
        </div>
        <div class="card-body">
          <tabset>
            <tab heading="Week days" > 
              <div class="col-sm-12 text-right" *ngIf="workingAvail == 0">
                <a class="btn btn-large btn-primary" href="#" routerLink='addartistworking' style="margin-bottom:5px"><i class="fa fa-plus"></i> Add Availability</a>
              </div> 
              <div class="col-sm-12 text-right" *ngIf="workingAvail == 1">
                <a class="btn btn-large btn-primary" href="#" routerLink="editartistweekend/{{workingData.id}}" style="margin-bottom:5px; margin-left:5px"><!-- <span class="fa fa-pencil"></span> --> Edit Availability</a>
                <button class="btn btn-large btn-primary" (click)="resetAvail(workingData.id)" style="margin-bottom:5px"><!-- <span class="fa fa-trash"></span> --> Remove Availability</button>  
              </div>

            
              <div class="col-md-6"> 
                <span *ngIf="workingAvail == 0">No Availability Scheduled.</span>
                <table class="table table-striped" *ngIf="workingAvail == 1">
                  <tr>
                    <th>Week Days</th>
                    <th>Work Time</th>
                    <th>Break Time</th>
                  </tr>
                  <tr *ngFor = "let dayno of workingdayno">
                    <td>{{workingdays[dayno]}} : </td>  
                    <td >{{workingData.hoursfrom}} - {{workingData.hoursto}}</td>
                    <td  >{{workingData.breakfrom}} - {{workingData.breakto}}</td>
                  </tr>
                </table>
              </div>

            </tab>
            <tab heading="Weekend">
              <div class="col-sm-12 text-right" *ngIf="weekendAvail == 0">
                <a class="btn btn-large btn-primary" href="#" routerLink='addartistweekend' style="margin-bottom:5px"><i class="fa fa-plus"></i> Add Availability</a>
              </div>
            
              <div class="col-sm-12 text-right" *ngIf="weekendAvail == 1">
                <a class="btn btn-large btn-primary" href="#" routerLink="editartistweekend/{{weekendData.id}}" style="margin-bottom:5px; margin-left:5px"><!-- <span class="fa fa-pencil"></span> --> Edit Availability</a>
                <button class="btn btn-large btn-primary " (click)="resetAvail(weekendData.id)" style="margin-bottom:5px"><!-- <span class="fa fa-trash"></span> --> Remove Availability</button>  
              </div>

            
              <div class="col-md-8"> 
                <span *ngIf="weekendAvail == 0">No Availability Scheduled.</span>
                <table class="table table-striped" *ngIf="weekendAvail == 1">
                  <tr>
                    <th>Weekend Days</th>
                    <th>Work Time</th>
                    <th>Break Time</th>
                  </tr>
                  <tr *ngFor = "let dayno of weekenddayno">
                    <td>{{weekenddays[dayno]}} : </td> 
                    <td>{{weekendData.hoursfrom}} - {{weekendData.hoursto}}</td> 
                    <td>{{weekendData.breakfrom}} - {{weekendData.breakto}}</td>
                   
                  </tr>
                </table>
              </div>
            </tab>
            <tab heading="Specific Date">
              <div class="col-sm-12 text-right"> <a class="btn btn-large btn-primary" href="#" routerLink='addartistspecificdate' style="margin-bottom:5px"><i class="fa fa-plus"></i> Add Availability</a></div>
              
              <div class="col-md-8"> 
                <span *ngIf="dateAvail == 0">No Availability for any date</span>
                
                <table class="table table-striped" *ngIf="dateAvail == 1"> 
                  <tr>
                    <th>Date</th>
                    <th>Work Time</th>
                    <th>Break Time</th>
                    <th>Action</th>
                  </tr> 
                  <tr *ngFor = "let rec of specificData">
                    <td  *ngIf="dateAvail == 1">{{rec.date}}</td>  
                    <td  *ngIf="dateAvail == 1">{{rec.hoursfrom}} - {{rec.hoursto}}</td> 
                    <td  *ngIf="dateAvail == 1">{{rec.breakfrom}} - {{rec.breakto}}</td> 
                    <td *ngIf="dateAvail == 1">
                      <a class="btn btn-sm btn-outline-primary" href="#" routerLink="editartistspecificdate/{{rec.id}}" style="margin-bottom:5px"><span class="fa fa-pencil"></span></a>
                      <button class="btn btn-sm btn-outline-primary" (click)="resetAvail(rec.id)" style="margin-bottom:5px"><span class="fa fa-trash"></span></button>
                      <!-- <a class="btn btn-sm btn-primary" href="#"  (click)="specificDateBreakModal.show()"  style="margin-bottom:5px"><i class="fa fa-plus"></i> Schedule Break</a> -->
                    </td>      
                  </tr>
                </table>
              </div>
            </tab>
          </tabset>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>