<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> GCC Availability
        </div>
        <div class="card-body ">          
          <div class="col-md-8 pull-left">
            <span  *ngIf = "noGCC == 1">No GCC Availability Scheduled.</span>
            <table class="table table-striped" *ngIf = "noGCC == 0">
                <tr>
                  <th>GCC Location</th>
                  <th>From - To</th>
                  <th>Action</th>
                </tr>
                <tr *ngFor = "let data of gccData">
                  <td>
                    <select class="form-control" style="-webkit-appearance: initial;background: transparent !important; border-color:transparent !important;    padding: 0 !important;    height: auto; width:auto;"  name="gcclocation" [disabled] = 1  [(ngModel)]="data.gcclocation">
                       <option value=""></option>
                       <option *ngFor="let loc of gcclocations" value="{{loc.id}}">{{loc.name}}</option>
                       <option value="All Locations">All Locations</option>
                     </select>
                  </td>
                    <td>{{data.starton}} - {{data.endon}} </td>
                    <td>
                      <a class="btn btn-sm btn-outline-primary" href="#" routerLink="editartistgcc/{{data.id}}" style="margin-bottom:5px"><span class="fa fa-pencil"></span></a>
                      <button class="btn btn-sm btn-outline-primary"  (click)="resetAvail(data.id)" style="margin-bottom:5px"><span class="fa fa-trash"></span></button></td>
                </tr>
            </table>
          </div>
          <div class="col-md-4 pull-right">
             <a class="btn btn-large btn-primary pull-right" href="#" routerLink='addartistgcc' style="margin-bottom:5px"><i class="fa fa-user-plus"></i> Add Availability</a>
          </div>
        </div>

      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>