<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Work Availability
        </div>
        <div class="card-body ">
          <tabset>
            <tab heading="Working days">
              <table class="table table-striped">
                <tr *ngFor = "let dayno of workingdayno">
                  <td>{{workingdays[dayno]}} : </td>  
                  <td *ngIf="workingAvail == 1" >{{workingData.hoursfrom}} - {{workingData.hoursto}}</td>   
                  <td *ngIf="workingAvail == 0">No Availability</td>   
                  <td *ngIf="workingAvail == 0">
                    <a class="btn btn-large btn-primary pull-right" href="#" routerLink='addartistworking' style="margin-bottom:5px"><i class="fa fa-user-plus"></i> Add New Work Availability</a>
                  </td>          
                </tr>
              </table>
            </tab>
            <tab heading="Weekends">
               <table class="table table-striped">
                <tr *ngFor = "let dayno of weekenddayno">
                  <td>{{weekenddays[dayno]}} : </td> 
                  <td *ngIf="weekendAvail == 1">{{weekendData.hoursfrom}} - {{weekendData.hoursto}}</td>   
                  <td *ngIf="weekendAvail == 0">No Availability</td>   
                  <td *ngIf="weekendAvail == 0">
                    <a class="btn btn-large btn-primary pull-right" href="#" routerLink='addartistweekend' style="margin-bottom:5px"><i class="fa fa-user-plus"></i> Add New Work Availability</a>
                  </td>                                     
                </tr>
              </table>
            </tab>
            <tab heading="Specific Date">
              <a class="btn btn-large btn-primary pull-right" href="#" routerLink='addartistspecificdate' style="margin-bottom:5px"><i class="fa fa-user-plus"></i> Add New Availability</a>
              <table class="table table-striped"> 
                <tr *ngFor = "let rec of specificData">
                  <td  *ngIf="dateAvail == 1">{{rec.date}} : </td>  
                  <td  *ngIf="dateAvail == 1">{{rec.hoursfrom}} - {{rec.hoursto}}</td>   
                  <td *ngIf="dateAvail == 0">No Availability for any date</td> 
                </tr>
              </table>
            </tab>
          </tabset>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>