// Here you can add other styles

.login-form {
   // background: url('../assets/img/shutterstock_523288990-min.jpg');
   // background-position: center top;
}
.admin-form {
    background: url('../assets/img/shutterstock_523288990-min.jpg');
    background-position: center top;
}
.artist-form {
    background: url('../assets/img/artist_panel.jpg');
    background-position: center top;
}
.login-block {
    background: linear-gradient(to bottom, rgba(4, 4, 4, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
    border: none;
    color: $white;

    .input-group{
		border-bottom: 1px solid;

	    .form-control{
	    	background: none;
	    	border: none;
	    	color: $white;
	    
		    &:focus{
		    	box-shadow: none;
		    }

		    &::placeholder{
		    	color: #ccc;
		    }
		}
 	}
}

.service-card {
	border:1px solid #ccc;
	border-left:3px solid #ceb26f;
	margin-bottom:5px;
	padding:5px;
	overflow:auto;
}

.service-card h6, .modal-body h5  {
	float:left;
	padding-top: 5px;
}


.service-card span {
	margin-right:5px;
}

.service-card span button {
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.toast-success {
	background-color:#ceb26f !important;
}

.tab-content .tab-pane {
    padding: 1rem 2rem;
}

.form-control:disabled, .form-control[readonly], ng-select > div.disabled   {
    background-color: transparent !important;
 }

 .dashboardBox .card-body{
 	max-height: 150px;
 	min-height: 150px;
 }

 .preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(0,0,0,0.9);
    z-index: 99999;
}

.preloader .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.preloader .wBall {
    position: absolute;
    width: 74px;
    height: 74px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 6.96s infinite;
    -o-animation: orbit 6.96s infinite;
    -ms-animation: orbit 6.96s infinite;
    -webkit-animation: orbit 6.96s infinite;
    -moz-animation: orbit 6.96s infinite;
}

.preloader #wBall_1 {
    animation-delay: 1.52s;
    -o-animation-delay: 1.52s;
    -ms-animation-delay: 1.52s;
    -webkit-animation-delay: 1.52s;
    -moz-animation-delay: 1.52s;
}
.preloader #wBall_2 {
    animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.preloader #wBall_3 {
    animation-delay: 0.61s;
    -o-animation-delay: 0.61s;
    -ms-animation-delay: 0.61s;
    -webkit-animation-delay: 0.61s;
    -moz-animation-delay: 0.61s;
}
.preloader #wBall_4 {
    animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -moz-animation-delay: 0.91s;
}
.preloader #wBall_5 {
    animation-delay: 1.22s;
    -o-animation-delay: 1.22s;
    -ms-animation-delay: 1.22s;
    -webkit-animation-delay: 1.22s;
    -moz-animation-delay: 1.22s;
}
.preloader .wBall .wInnerBall {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(206,177,111);
    left: 0px;
    top: 0px;
    border-radius: 10px;
}