// Here you can add other styles

.login-form {
   // background: url('../assets/img/shutterstock_523288990-min.jpg');
   // background-position: center top;
}
.admin-form {
    background: url('../assets/img/shutterstock_523288990-min.jpg');
    background-position: center top;
}
.artist-form {
    background: url('../assets/img/slider_img_3.jpg');
    background-position: center top;
}
.login-block {
    background: linear-gradient(to bottom, rgba(4, 4, 4, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
    border: none;
    color: $white;

    .input-group{
		border-bottom: 1px solid;

	    .form-control{
	    	background: none;
	    	border: none;
	    	color: $white;
	    
		    &:focus{
		    	box-shadow: none;
		    }

		    &::placeholder{
		    	color: #ccc;
		    }
		}
 	}
}

.service-card {
	border:1px solid #ccc;
	border-left:3px solid #ceb26f;
	margin-bottom:5px;
	padding:5px;
	overflow:auto;
}

.service-card h6 {
	float:left;
}

.service-card span {
	margin-right:5px;
}

.service-card span button {
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.toast-success {
	background-color:#ceb26f !important;
}

.tab-content .tab-pane {
    padding: 1rem 5rem;
}

.form-control:disabled, .form-control[readonly], ng-select > div.disabled   {
    background-color: transparent !important;
 }