// Here you can add other styles

@font-face {
    font-family: BodoniFLF;
    src: url(../BodoniFLF-Roman.ttf);
}
.login-form {
   // background: url('../assets/img/shutterstock_523288990-min.jpg');
   // background-position: center top;
}
.admin-form {
    background: url('../assets/img/shutterstock_523288990-min.jpg');
    background-position: center top;
}
.artist-form {
    background: url('../assets/img/artist.jpg');
    background-position: center right;
    background-size:cover;
}
.salon-form {
    background: url('../assets/img/artist_panel.jpg');
    background-position: center top;
}
.login-block {
    background: linear-gradient(to bottom, rgba(4, 4, 4, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
    border: none;
    color: $white;

    .input-group{
		border-bottom: 1px solid;

	    .form-control{
	    	background: none;
	    	border: none;
	    	color: $white;
	    
		    &:focus{
		    	box-shadow: none;
		    }

		    &::placeholder{
		    	color: #ccc;
		    }
		}
 	}
}
.galleryimages {
    position: relative;
    margin-bottom: 30px;
    height: 200px;
    text-align: center;

    img{
        width: auto;
        height: 200px;
        max-height: 100%;
        max-width: 100%;
        margin: 0 auto;
        cursor: pointer;
    }

    .galleryimages-btn {
        position: absolute;
        top: 5px;
        right: 20px;

       /* .btn{
            color: #fff;
            border-color: #fff;
        } */
    } 
}
.dashboardBox{
    .card{
       // border-radius: 20px;
        box-shadow: 0 0 10px 3px #ccc;
        .card-header{
           // border-radius: 20px 20px 0 0;
           // text-align: center;
        }
    }
}
.courseImage{
    width:100px;
    height:100px;
    max-height:100%;
    max-width:100%;
    border: 2px solid #ceb26f;
    margin-bottom: 10px;
    border-radius:  5px;
}
.service-card {
	border:1px solid #ccc;
	border-left:3px solid #ceb26f;
	margin-bottom:5px;
	padding:5px;
	overflow:auto;
}

.service-card h6, .modal-body h5  {
	float:left;
	padding-top: 5px;
}


.service-card span {
	// margin-right:5px;
}

.service-card span button {
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.toast-success {
	background-color:#ceb26f !important;
}

.tab-content .tab-pane {
    padding: 1rem 2rem;
}

.form-control:disabled, .form-control[readonly], ng-select > div.disabled   {
    background-color: transparent !important;
 }

 .dashboardBox .card-body{
 	max-height: 150px;
 	min-height: 150px;
 }

 .preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(41, 54, 61, 0.7);
    z-index: 99999;
    display:none;
}

.preloader .icon {
    position: absolute;
    top: 45%;
    left: 36%;
    transform: translate(-50%,-50%);
}
.preloader .wBall {
    position: absolute;
    width: 74px;
    height: 74px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 6.96s infinite;
    -o-animation: orbit 6.96s infinite;
    -ms-animation: orbit 6.96s infinite;
    -webkit-animation: orbit 6.96s infinite;
    -moz-animation: orbit 6.96s infinite;
}

.preloader #wBall_1 {
    animation-delay: 1.52s;
    -o-animation-delay: 1.52s;
    -ms-animation-delay: 1.52s;
    -webkit-animation-delay: 1.52s;
    -moz-animation-delay: 1.52s;
}
.preloader #wBall_2 {
    animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.preloader #wBall_3 {
    animation-delay: 0.61s;
    -o-animation-delay: 0.61s;
    -ms-animation-delay: 0.61s;
    -webkit-animation-delay: 0.61s;
    -moz-animation-delay: 0.61s;
}
.preloader #wBall_4 {
    animation-delay: 0.91s;
    -o-animation-delay: 0.91s;
    -ms-animation-delay: 0.91s;
    -webkit-animation-delay: 0.91s;
    -moz-animation-delay: 0.91s;
}
.preloader #wBall_5 {
    animation-delay: 1.22s;
    -o-animation-delay: 1.22s;
    -ms-animation-delay: 1.22s;
    -webkit-animation-delay: 1.22s;
    -moz-animation-delay: 1.22s;
}
.preloader .wBall .wInnerBall {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(206,177,111);
    left: 0px;
    top: 0px;
    border-radius: 10px;
}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
    opacity: 0;
        transform:rotate(900deg);
    }

    100% {
    opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin:0%;
    }

    30% {
        opacity: 1;
        -o-transform:rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin:7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin:30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin:39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin:70%;
    }

    76% {
    opacity: 0;
        -o-transform:rotate(900deg);
    }

    100% {
    opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin:0%;
    }

    30% {
        opacity: 1;
        -ms-transform:rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin:7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin:30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:70%;
    }

    76% {
    opacity: 0;
        -ms-transform:rotate(900deg);
    }

    100% {
    opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }

    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }

    76% {
    opacity: 0;
        -webkit-transform:rotate(900deg);
    }

    100% {
    opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin:0%;
    }

    30% {
        opacity: 1;
        -moz-transform:rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin:7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin:30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:70%;
    }

    76% {
    opacity: 0;
        -moz-transform:rotate(900deg);
    }

    100% {
    opacity: 0;
        -moz-transform: rotate(900deg);
    }
}


.theme-green .bs-datepicker-head {
    background-color: #ceb26f !important;
}


.custom-autocomplete__input[_ngcontent-c1] input[_ngcontent-c1] {
    height:auto !important;
    padding: 0.375rem 0.75rem !important; 
     font-size: 0.875rem !important;

}